
@{
    ViewBag.Title = "EditProfile";
    Layout = "~/Views/Shared/MasterProfile.cshtml";
}

<head>
    <title>Mi perfil</title>
</head>

<div class="row gap-20 masonry pos-r" style="position: relative; height: 1110.6px;">
    <div class="masonry-item col-md-6" style="position: absolute; left: 0%; top: 0px;">
        <div class="bgc-white p-20 bd">
            <button class="btn btn-primary pull-right" id="btneditfoto" type="button"> Editar</button>
            <h6 class="c-grey-900">Foto de perfil</h6>
            <div class="mT-30">
                <form id="frmcambiarfoto" enctype="multipart/form-data" style="height:426.233px">
                    <center><img class="w-1r bdrs-50p" id="imgadmi" style="width:300px; height:320px;" /></center>
                    <label class="btn-outline-secondary rounded" id="uploadimg" style="width:133px;cursor:pointer;">Seleccionar imagen <input name="file" type="file" accept="image/*" style="display:none" onchange="loadfile(event)" /></label>
                    <br />
                    <center> <input id="btnupdatepicture" class="btn btn-info align-center" type="submit" value="Actualizar" /></center><br />
                    <center> <button class="w-2r bdrs-50p  btn btn-outline-danger" id="btncancelarfoto" type="button">x</button></center>
                    <br /><br />
                </form>


            </div>
        </div>
    </div>
    <div class="masonry-item col-md-6" style="position: absolute; left: 0%; top: 801.666px;">
        <div class="bgc-white p-20 bd">
            <button class="btn btn-primary pull-right" id="btnhabilit" type="button"> Editar</button>
            <h6 class="c-grey-900">Mis datos</h6>
            <div class="mT-30">
                <form class="container" id="needs-validation" style="width:566px; height:426.233px" novalidate="">
                    <div class="row">
                        <div class="col-md-6 mb-3"><label for="validationCustom01">Nombre</label><input class="form-control" id="validationCustom02" name="nameadmi" placeholder="Nombre" required="" type="text"></div>
                        <div class="col-md-6 mb-3"><label for="validationCustom03">Usuario</label><input class="form-control" id="validationCustom04" name="useradmi" placeholder="Usuario" required="" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3"><label for="validationCustom05">Apellido Paterno</label><input class="form-control" id="validationCustom06" name="apepa" placeholder="Apellido Paterno" required="" type="text"></div>
                        <div class="col-md-6 mb-3"><label for="validationCustom07">Apellido Materno</label><input class="form-control" id="validationCustom08" name="apemat" placeholder="Apellido Materno" required="" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom09">Correo electronico</label><input class="form-control" name="emailadmi" id="validationCustom10" placeholder="Correo electronico" required="" type="email"></div>
                    </div>
                    <br /><br /><br /><br />
                    <button id="btnupdate" class="btn btn-primary" type="submit">Actualizar mis datos</button>
                    <button class="btn btn-danger pull-right" id="btncancelar" type="button"> Cancelar</button>
                </form>

                <script>!function () { "use strict"; window.addEventListener("load", function () { var t = document.getElementById("needs-validation"); t.addEventListener("submit", function (e) { !1 === t.checkValidity() && (e.preventDefault(), e.stopPropagation()), t.classList.add("was-validated") }, !1) }, !1) }()</script>
            </div>
        </div>
    </div>
    <div class="masonry-item col-md-12" style="position: absolute; left: 49.9994%; top: 506.4px;">
        <div class="bgc-white p-20 bd">
            <button class="btn btn-primary pull-right" id="btneditcontra" type="button"> Editar</button>
            <h6 class="c-grey-900">Mi contraseña</h6>
            <div class="mT-30">
                <form id="frmvalidarcontra">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña actual</label>
                        <div class="col-sm-10"><input class="form-control" id="contrac" name="contraac" placeholder="Contraseña actual" type="password"></div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Contraseña nueva</label>
                        <div class="col-sm-10"><input class="form-control" id="contranue" name="contranue" placeholder="Contraseña nueva" type="password"></div>
                    </div>
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-2 col-form-label">Confirmar contraseña</label>
                        <div class="col-sm-10"><input class="form-control" id="contraconfi" name="contraconfi" placeholder="Confirmar contraseña" type="password"></div>
                    </div>
                    <button class="btn btn-primary" id="btnvalidar" type="submit"><li class="fa fa-save"></li> Actualizar contraseña</button>
                    <button class="btn btn-danger pull-right" id="btncancelarcontra" type="button"> Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/sweetalert2.all.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {
        myinfo();

    });

    function myinfo() {
        $.ajax({
            url: "/Ajax/Ajax?data=DatosUsuario",
            type: "POST",
            success: function (a) {

                var datos = JSON.parse(a);

                $('#validationCustom02').val(datos.nombreus);
                $('#validationCustom04').val(datos.usuario);
                $('#validationCustom06').val(datos.apellidop);
                $('#validationCustom08').val(datos.apellidom);
                $('#validationCustom10').val(datos.email);
                $('#usernameadmis').html(datos.nombreus);
                $("#imgadmi").prop("src", datos.foto)
                $("#roundphotoadmi").prop("src", datos.foto)

            }

        });
    }
    //habilitar textbox
    $("#btnhabilit").click(function () {


        $("#validationCustom02").prop('disabled', false);
        $("#validationCustom04").prop('disabled', false);
        $("#validationCustom06").prop('disabled', false);
        $("#validationCustom10").prop('disabled', false);
        $("#validationCustom08").prop('disabled', false);
        $("#btnupdate").prop('disabled', false);
        $("#btncancelar").prop('disabled', false);


    });

    //actualizar info admi
    $(document).ready(function () {
        $("#needs-validation").submit(function (e) {
            e.preventDefault();
            if ($("#validationCustom02").val() != "" && $("#validationCustom04").val() != "" && $("#validationCustom06").val() != "" && $("#validationCustom08").val() != "" && $("#validationCustom10").val() != "") {
                $.ajax({
                    url: "/Ajax/Ajax?data=updateinfo",
                    type: "POST",
                    data: $("#needs-validation").serialize(),
                    beforeSend: function () {
                        $("#btnupdate").html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Actualizando');
                    },
                    success: function (a) {
                        if (a == 1) {

                            swal({
                                title: "Exito",
                                text: 'Se actualizaron sus datos',
                                type: "success",
                                confirmButtonText: "Aceptar",
                                closeOnCancel: true,
                                closeOnConfirm: true,
                                showLoaderOnConfirm: true

                            });
                            $("#btnupdate").html('<i class="fa fa-save" aria-hidden="true"></i> Actualizar mis datos');
                            myinfo();

                            $("#validationCustom02").prop('disabled', true);
                            $("#validationCustom04").prop('disabled', true);
                            $("#validationCustom06").prop('disabled', true);
                            $("#validationCustom10").prop('disabled', true);
                            $("#validationCustom08").prop('disabled', true);
                            $("#contrac").prop('disabled', true);
                            $("#contranue").prop('disabled', true);
                            $("#contraconfi").prop('disabled', true);
                            $("#btnvalidar").prop('disabled', true);
                            $("#btnupdate").prop('disabled', true);
                            $("#btncancelar").prop('disabled', true);
                            $("#btncancelarcontra").prop('disabled', true);
                        }
                        else if (a == 0) {
                            swal({
                                text: 'Contraseña incorrecta, intentalo de nuevo!',
                                type: "error",
                                confirmButtonText: "Aceptar",
                                confirmButtonColor: "#4CAF50",
                                closeOnCancel: true,
                                closeOnConfirm: true,
                                showLoaderOnConfirm: true
                            })

                            $("#btnupdate").html('<i class="fa fa-save" aria-hidden="true"></i> Actualizar mis datos');
                            $("#passprofilevalidar").val('');


                        }
                        else {

                        }
                    }
                });
            }
            else {

                swal({
                    text: 'Puedes dejar campos vacíos, valida tus campos porfavor!',
                    type: "question",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#3F51B5",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                });

            }
        });
    });

    $("#btneditfoto").click(function () {

        $("#btnupdatepicture").prop('disabled', false);
        $("#uploadimg").show();
        $("#btncancelarfoto").show();



    });

    $("#btncancelarfoto").click(function () {
        myinfo();

        $("#btnupdatepicture").prop('disabled', true);
        $("#uploadimg").hide();
        $("#btncancelarfoto").hide();
    })

    $("#btncancelar").click(function () {

        myinfo();

        $("#validationCustom02").prop('disabled', true);
        $("#validationCustom04").prop('disabled', true);
        $("#validationCustom06").prop('disabled', true);
        $("#validationCustom10").prop('disabled', true);
        $("#validationCustom08").prop('disabled', true);
        $("#validationCustom10").prop('disabled', true);
        $("#validationCustom08").prop('disabled', true);
        $("#btnupdate").prop('disabled', true);
        $("#btncancelar").prop('disabled', true);
    })

    ///cargar info usuario
    $(document).ready(function () {

        myinfo();

        $("#validationCustom02").prop('disabled', true);
        $("#validationCustom04").prop('disabled', true);
        $("#validationCustom06").prop('disabled', true);
        $("#validationCustom10").prop('disabled', true);
        $("#validationCustom08").prop('disabled', true);
        $("#btnupdatepicture").prop('disabled', true);
        $("#uploadimg").hide();
        $("#contrac").prop('disabled', true);
        $("#contranue").prop('disabled', true);
        $("#contraconfi").prop('disabled', true);
        $("#btnvalidar").prop('disabled', true);
        $("#btnupdate").prop('disabled', true);
        $("#btncancelar").prop('disabled', true);
        $("#btncancelarcontra").prop('disabled', true);
        $("#btncancelarfoto").hide();



    });

    ////cambiar imagen de perfil
    $(document).ready(function () {
        $("#frmcambiarfoto").submit(function (e) {
            e.preventDefault();
            var form = $('#frmcambiarfoto')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: '/Ajax/Ajax?data=guardarfotos',  //Server script to process data
                type: 'POST',
                data: dataString,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                success: function (a) {
                    if (a == 1) {
                        swal({
                            text: 'Se ha actualizado tu foto de perfil!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        myinfo();
                        $("#btnupdatepicture").prop('disabled', true);
                        $("#uploadimg").hide();
                        $("#btncancelarfoto").hide();


                    }

                }
            });
        });
    });

    ///cargar imagen en <img> del perfil del administrador
    var loadfile = function (event) {
        var pic = document.getElementById('imgadmi');
        pic.src = URL.createObjectURL(event.target.files[0]);
    };

</script>