
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/MasterProfile.cshtml";
}

<form id="frmpublicacion" class="w3-margin-bottom" enctype="multipart/form-data">
    <div class="w3-row w3-content w3-card w3-round w3-white">
        <h3 class="w3-theme-d5">&nbsp; Realiza una publicación</h3>
        <div class="w3-col m12">
            <div class="w3-row-padding w3-center">
                <div class="w3-col m12">
                    <div class="w3-container w3-padding">
                        
                        <textarea class="w3-border w3-col m12 w3-margin-bottom" placeholder="Escribe tu publicación" style="max-width:100%; min-width:100%"></textarea>
                        <label  style="cursor:pointer" id="subirimg" class="w3-left"><a class="w3-hover-dark-grey w3-round"><li class="fa fa-paperclip"></li> Subir Imagenes</a></label>
                        <span id="spanclose" onclick="ocultarinfo();" class="w3-right fa fa-times-circle" style="cursor:pointer; margin-right:-9px; margin-top:-12px">    </span>
                        <div id="divimagenes" class="w3-center w3-margin">
                            
                            <div class=" w3-col m4">
                                <label class="w3-hover-opacity" id="uploadimg" style="cursor:pointer;">
                                    <input name="file" type="file" accept="image/*" style="display:none" onchange="loadimagenpublic1(event)" />
                                    <img src="~/img/subirfoto.png" class=" w3-round" style="width:240px;height:200px" id="imgpublic1">
                                </label>
                            </div>
                            <div class="w3-col m4">
                                <label class="w3-hover-opacity w3-round" id="uploadimg" style="cursor:pointer;">
                                    <input name="file" type="file" accept="image/*" style="display:none" onchange="loadimagenpublic2(event)"  />
                                    <img src="~/img/subirfoto.png"  class=" w3-round"  style="width:240px;height:200px" id="imgpublic2">
                                </label>
                            </div>
                            <div class="w3-col m4">
                                <label class="w3-hover-opacity w3-round" id="uploadimg" style="cursor:pointer;">
                                    <input name="file" type="file" accept="image/*" style="display:none" onchange="loadimagenpublic3(event)" />
                                    <img src="~/img/subirfoto.png"  class=" w3-round"  style="width:250px;height:200px" id="imgpublic3">
                                </label>
                               
                            </div>
                        </div>
                        <button type="submit" class="w3-button w3-margin-top w3-theme-d2 w3-col m12">Publicar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>

<div class="w3-row">
    <div id="publicaciones" class="">
    </div>

</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script src="~/Scripts/AccionesProfile.js"></script>