
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/MasterProfile.cshtml";
}

<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Raleway", sans-serif;
    }

    .w3-third img {
        margin-bottom: -6px;
        opacity: 0.8;
        cursor: pointer
    }

        .w3-third img:hover {
            opacity: 1
        }
</style>


<form id="frmpublicacion" class="w3-margin-bottom w3-animate-zoom" enctype="multipart/form-data">
    <div class="w3-row w3-content w3-card w3-round w3-white">
        <h3 class="w3-amber">&nbsp; Realiza una publicación</h3>
        <div class="w3-col m12">
            <div class="w3-row-padding w3-center">
                <div class="w3-col m12">
                    <div class="w3-container w3-padding">

                        <textarea id="textpub" name="textpub" class="w3-border w3-col m12 w3-margin-bottom" placeholder="Escribe tu publicación" style="max-width:100%; min-width:100%; max-height:300px; min-height:100px"></textarea>
                        <label style="cursor:pointer" id="subirimg" class="w3-left"><a class="w3-hover-dark-grey w3-round"><li class="fa fa-paperclip"></li> Subir Imagenes</a></label>
                        <span hidden="hidden" id="spanclose" onclick="ocultarinfo();" class="w3-right fa fa-minus-circle" style="cursor:pointer; margin-right:-11px; margin-top:-12px">    </span>
                        <div id="divimagenes" hidden="hidden" class="w3-center w3-margin">

                            <div class=" w3-col m4">
                                <span id="spancloseimagen1" onclick="eliminarimagen1();" class="w3-right w3-display-container fa fa-times-circle w3-small" style="cursor:pointer; margin-right:-1px; margin-top:2px"></span>
                                <label class="w3-hover-opacity" id="uploadimg" style="cursor:pointer;">

                                    <input id="fileimg" name="file" type="file" accept="image/*" style="display:none" onchange="loadimagenpublic1(event)" />
                                    <img src="~/img/subirfoto.png" class=" w3-round" style="width:200px;height:200px" id="imgpublic1">
                                </label>
                            </div>
                            <div class="w3-col m4">
                                <span id="spancloseimagen2" onclick="eliminarimagen2();" class="w3-right w3-display-container fa fa-times-circle w3-small" style="cursor:pointer; margin-right:-0px; margin-top:2px"></span>
                                <label class="w3-hover-opacity w3-round" id="uploadimg" style="cursor:pointer;">
                                    <input id="fileimg2" name   ="file2" type="file" accept="image/*" style="display:none" onchange="loadimagenpublic2(event)" />
                                    <img src="~/img/subirfoto.png" class=" w3-round" style="width:200px;height:200px" id="imgpublic2">
                                </label>
                            </div>
                            <div class="w3-col m4">
                                <span id="spancloseimagen3" hidden="hidden" onclick="eliminarimagen3();" class="w3-right w3-display-container fa fa-times-circle w3-small" style="cursor:pointer; margin-right:+1px; margin-top:2px"></span>
                                <label class="w3-hover-opacity w3-round" id="uploadimg" style="cursor:pointer;">
                                    <input id="fileimg3" name="file3" type="file" accept="image/*" style="display:none" onchange="loadimagenpublic3(event)" />
                                    <img src="~/img/subirfoto.png" class=" w3-round" style="width:200px;height:200px" id="imgpublic3">
                                </label>

                                <br />
                                <br />


                            </div>

                        </div>
                        <label id="cancelarsubida"  type="button" style="margin-left:300px" class="w3-button w3-right-align w3-amber w3-opacity-min">cancelar subida de imagenes</label>
                        <button type="submit" class="w3-button w3-right  w3-amber w3-opacity-min">Publicar</button>


                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
<div class="w3-row">
    <div id="publicaciones" class="w3-animate-top">

    </div>
</div>




<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <div>
            <img style="width:100%" id="img01" class="w3-image">
            <br />
        </div>
    </div>
</div>

<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script src="~/Scripts/AccionesProfile.js"></script>

<script>

    $("#btnComentar").click(function () {
        $("#comentpub").show();


    })

    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    };

    $(document).ready(function () {
        $("#frmpublicacion").submit(function (e) {
            e.preventDefault();
            var form = $('#frmpublicacion')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: '/Ajax/Ajax?data=agregarpublicacion',  //Server script to process data
                type: 'POST',
                data: dataString,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                success: function (a) {

                    if (a == 1) {
                        swal({
                            text: 'Se ha realizado tu publicación!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        $("#textpub").val('');
                        $("#fileimg").val(null);
                        $("#fileimg2").val(null);
                        $("#fileimg3").val(null);
                        $("#imgpublic1").prop("src", "/img/subirfoto.png");
                        $("#imgpublic2").prop("src", "/img/subirfoto.png");
                        $("#imgpublic3").prop("src", "/img/subirfoto.png");
                        $("#spancloseimagen1").hide();
                        $("#spancloseimagen2").hide();
                        $("#spancloseimagen3").hide();
                        $("#divimagenes").hide();
                        $("#spanclose").hide();
                        $("#subirimg").show();
                        $("#cancelarsubida").hide();
                    }
                    if (a == 4) {
                        swal({
                            text: 'Los campos están en blanco',
                            type: "error",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                    }


                }
            });
        });
    });
</script>