
@{
    ViewBag.Title = "EditPubli";
    Layout = "~/Views/Shared/MasterComercio.cshtml";
}

<head>
    <title>Editar lugar</title>
</head>


<div id="divimahe" ondragstart="return false" class="row gap-20 masonry pos-r" style="position: relative; height: 1110.6px;">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-6" style="position: absolute; left: 0%; top: 0px;">
        <form enctype="multipart/form-data" id="frmeditarfotopubli" class="bgc-white p-20 bd">
            <input id="idpubli" name="idpubli" type="hidden" />
            <button type="button" id="editpubli1" class="btn btn-primary pull-right">Editar</button>
            <h6 class="c-grey-900">Foto del lugar</h6>
            <div class="mT-30">
                <div style="height:529.233px">
                    <center><img class="rounded mx-auto d-block" id="imgeditarpubli" src="~/img/addimagen.png" style="width:450px; height:400px;" /></center>
                    <br />
                    <center><label class="btn-outline-secondary rounded" id="editarpubliimagen" style="width:150px;cursor:pointer;"><li class="fa fa-paperclip"></li> Seleccionar imagen<input name="file" type="file" accept="image/*" style="display:none" onchange="loadimagenlugareditar(event)" /></label></center>
                    <center><button type="button" id="cancelarimagenpubli" class="btn btn-outline-danger btn-sm rounded-circle"><span class="btn-sm">&Chi;</span></button></center>
                    <button id="actualizarfotopubli" type="submit" class="btn btn-primary pull-right">Actualizar foto</button>
                </div>
            </div>
        </form>
    </div>

    <div class="masonry-item col-md-6" style="position: absolute; left: 0%; top: 801.666px;">
        <div class="bgc-white p-20 bd">
            <button type="button" id="editpubli2" class="btn btn-primary pull-right">Editar</button>
            <br />
            <h6 class="c-grey-900">Datos</h6>
            <div class="mT-30">
                <form id="frmeditardatospubli" style="height:529.233px" class="container" novalidate="">
                    <input id="idpubli2" name="idpubli2" type="hidden" />
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom01">Nombre de la publicidad</label><input class="form-control" id="editnamepubli" name="editnamepubli" placeholder="Ingrese nombre del lugar" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom05">Código de barras</label><textarea style="resize:none" class="form-control" id="editcodigopubli" name="editcodigopubli" placeholder="Código de barras" type="text"></textarea></div>
                    </div>
                    <button class="btn btn-primary" id="btneditardatopubli" type="submit"><li class="fa fa-edit"></li>Actualizar información</button>
                    <button class="btn btn-danger pull-right" id="btncancelardatoseditarpubli" type="button">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
    <br>

</div>
<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#frmeditardatospubli").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/Ajax?data=actualizardatoslugar",
                type: "POST",
                data: $("#frmeditardatospubli").serialize(),
                beforeSend: function () {

                },
                success: function (a) {

                    if (a == 1) {
                        swal({
                            text: 'Se han actualizado los datos del lugar!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        Cargarinfolugar();
                        DeshabilitarInputs();
                    }
                    else if (a == 0) {

                    }
                    else {



                    }

                }
            });
        });
    });

    $(document).ready(function () {
        $("#frmeditarfotopubli").submit(function (e) {
            e.preventDefault();
            var form = $('#frmeditarfotopubli')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: '/Ajax/Ajax?data=actualizarimagenlugar',  //Server script to process data
                type: 'POST',
                data: dataString,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                success: function (a) {
                    if (a == 1) {
                        swal({
                            text: 'Se ha actualizado tu foto de perfil!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        Cargarinfolugar();
                        $("#editarpubliimagen").hide();
                        $("#actualizarfotopubli").hide();
                        $("#cancelarimagenpubli").hide();


                    }
                    else if (a == 0) {
                        swal({
                            title: '¿Olvidas algo?',
                            text: 'Debes seleccionar una imagen o puedes cancelar!',
                            type: "question",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })




                    }

                }
            });
        });
    });

    $(document).ready(function () {

        DeshabilitarInputs();
        Cargarinfolugar();
    })

    $("#editpubli1").click(function () {

        $("#editarpubliimagen").show();
        $("#actualizarfotopubli").show();
        $("#cancelarimagenpubli").show();
    })

    $("#editpubli2").click(function () {
        $("#editnamepubli").prop('disabled', false);
        $("#editcodigopubli").prop('disabled', false);
    })

    $("#btncancelardatoseditarpubli").click(function () {
        Cargarinfolugar();
        DeshabilitarInputs();

    })


    $("#cancelarimagenpubli").click(function () {
        Cargarinfolugar();
        $("#editarpubliimagen").hide();
        $("#actualizarfotopubli").hide();
        $("#cancelarimagenpubli").hide();
    })

    function DeshabilitarInputs() {
        $("#actualizarfotopubli").hide();
        $("#editarpubliimagen").hide();
        $("#cancelarimagenpubli").hide();
        $("#editnamepubli").prop('disabled', true);
        $("#editcodigopubli").prop('disabled', true);
        $("#btneditardatospublo").prop('disabled', true);
        $("#btncancelardatoseditarpubli").prop('disabled', true);

    }

    function Cargarinfolugar() {

        $.ajax({
            url: "/Ajax/Ajax?data=cargarinfolugar",
            type: "POST",
            success: function (a) {

                var datos = JSON.parse(a);


                $("#imgeditarpubli").prop("src", datos.imagenportada);
                $('#editnamepubli').val(datos.nombre);
                $('#editicodigopubli').val(datos.informacionweb);
                $('#idpubli').val(datos.idlugar);
                $('#idpubli2').val(datos.idlugar);
            }

        });
    }




</script>

