
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/MasterComercio.cshtml";
}

<head>
    <title>Estadísticas</title>
</head>
<div class="w3-container" style="margin-top:10px" id="showcase">
    <h1 class="w3-justify"><b>Estadísticas</b></h1>
</div>




<div style="position: center">
    <table class="table table-striped table-bordered">
        <thead>
        <td style="width:200px">Imágen del cupón</td>
        <td style="width:500px">Descripción del cupón</td>
        <td style="width:250px">Número de canjeos</td>
        <td style="width:250px">Fecha de vencimiento</td>
        </thead>
        <tbody id="contenedorpublis"></tbody>
    </table>
</div>




<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>

<script>

    $(document).ready(function () {
        Verpublicidades();
    });

    function Verpublicidades(a) {
        $.ajax({
            url: "/Ajax/Ajax?data=verpublis&idpubli=" + a,
            type: "POST",
            success: function (a) {

                $("#contenedorpublis").html(a);

            }
        });
    };

</script>