
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/MasterComercio.cshtml";
}

<head>
    <title>Estadísticas</title>
</head>
<div class="w3-container" style="margin-top:10px" id="showcase">
    <h1 class="w3-justify"><b>Estadísticas</b></h1>
</div>
<style>
    .header-fixed {
        width: 100%
    }

        .header-fixed > thead,
        .header-fixed > tbody,
        .header-fixed > thead > tr,
        .header-fixed > tbody > tr,
        .header-fixed > thead > tr > th,
        .header-fixed > tbody > tr > td {
            display: block;
        }

            .header-fixed > tbody > tr:after,
            .header-fixed > thead > tr:after {
                content: ' ';
                display: block;
                visibility: hidden;
                clear: both;
            }

        .header-fixed > tbody {
            overflow-y: auto;
            height: 150px;
        }

            .header-fixed > tbody > tr > td,
            .header-fixed > thead > tr > th {
                width: 20%;
                float: left;
            }
</style>
<div style="position: center">
    <hr />
    <h3>Cupones Vigentes</h3>
    <table class="table table-bordered ">
        <thead>
        <td style="width:200px">Imágen del cupón</td>
        <td style="width:500px">Descripción del cupón</td>
        <td style="width:250px">Número de canjeos</td>
        <td style="width:240px">Máximo de canjeos</td>
        <td style="width:260px">Fecha de vencimiento</td>
        <td>Seleccionar</td>
        </thead>
        <tbody id="contenedorpublis"></tbody>
    </table>
    <br />
    <h3>Cupones Vencidos</h3>
    <table class="table table-bordered">
        <thead>
        <td style="width:200px">Imágen del cupón</td>
        <td style="width:500px">Descripción del cupón</td>
        <td style="width:250px">Número de canjeos</td>
        <td style="width:250px">Máximo de canjeos</td>
        <td style="width:250px">Fecha de vencimiento</td>
        </thead>
        <tbody id="contenedorpublis2"></tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div id="content" class="modal-body">
                <form id="frmeditcupon" enctype="multipart/form-data" ondragstart="return false">
                    <input id="idcupon" name="idcupon" type="hidden" />
                    <center><img class="rounded mx-auto d-block" id="imgcuponjemplo" style="width:150px; height:150px;" /></center>
                    <br />
                    <center><label class="btn-outline-secondary rounded" id="editarcuponimagen" style="width:150px;cursor:pointer;"><li class="fa fa-paperclip"></li> Seleccionar imagen<input name="file" type="file" accept="image/*" style="display:none" onchange="loadimagencuponeditar(event)" /></label></center>
                    @*<div class="row">
                            <div class="col-md-12 mb-3"><label for="validationCustom01">Nombre de la publicidad</label><input class="form-control" id="namepubli" name="namepubli" placeholder="Ingrese el nombre de la publicidad" type="text"></div>
                        </div>*@
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom05">Número máximo de canjeos</label><input style="resize:none" class="form-control" id="maxcanjeo" name="maxcanjeo" placeholder="Introducir el número máximo de canjeos" type="text" onkeypress="return soloNumeros(event);"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom06">Descripción del cupón</label><textarea style="resize:none" class="form-control" id="descripcupon" name="descripcupon" placeholder="Introducir la descripción del cupón" type="text"></textarea></div>
                    </div>
                    <div class="timepicker-input input-icon form-group">
                        <label for="validationCustom09">Fecha de vencimiento</label>
                        <div class="input-group">
                            <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                            <input class="form-control bdc-grey-200 start-date" id="editfechacup" name="editfechacup" placeholder="Fecha" data-provide="datepicker" type="text">
                        </div>
                    </div>
                    <button class="btn btn-primary" id="btneditcupon" type="submit"><li class="fa fa-edit"></li>Actualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>





<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>

<script>

    $(document).ready(function () {
        Verpublicidades1();
        Verpublicidades2();
    });

    function Verpublicidades1(a) {
        $.ajax({
            url: "/Ajax/Ajax?data=verpublis&idpubli=" + a,
            type: "POST",
            success: function (a) {

                $("#contenedorpublis").html(a);

            }
        });
    };

    function VerC(a) {
        $.ajax({
            url: "/Ajax/Ajax?data=verinfocupon&idcupon=" + a,
            type: "POST",
            success: function (a) {

                var datos = JSON.parse(a);
                $("#imgcuponjemplo").prop("src", datos.cover);
                $("#namepubli").val(datos.nombre)
                $("#maxcanjeo").val(datos.cantidad)
                $("#descripcupon").val(datos.descripcion)
                $("#editfechacup").val(datos.fecha)
                $("#idcupon").val(datos.idcupon)

            }

        });
    }

    function Verpublicidades2(a) {
        $.ajax({
            url: "/Ajax/Ajax?data=verpublis2&idpubli=" + a,
            type: "POST",
            success: function (a) {

                $("#contenedorpublis2").html(a);

            }
        });
    };

    $(document).ready(function () {
        $("#frmeditcupon").submit(function (e) {
            e.preventDefault();
            var form = $('#frmeditcupon')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: "/Ajax/Ajax?data=actualizarcupon",
                type: "POST",
                data: dataString,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                success: function (a) {
                    if (a == 1) {
                        swal({
                            text: 'Se han actualizado los datos del cupón!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        setTimeout(function () {
                            window.location.reload(1);
                        }, 2000);
                    }
                    else if (a == 2) {
                        swal({
                            title: "¡Alto ahí!",
                            text: 'El cupón ha sido aprobado, ya no se puede modificar',
                            type: "error",
                            confirmButtonText: "Aceptar",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        });
                    }
                    else if (a == 0) {
                        swal({
                            title: '¿Seguro no olvidas algo?',
                            html: '<li class="fa fa-image"></li>' + " " + "Debes ingresar una imagen nueva",
                            type: "question",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        });
                    }
                }
            });
        });
    });

</script>