
@{
    ViewBag.Title = "Estadisticas";
    Layout = "~/Views/Shared/MasterComercio.cshtml";
}

<head>
    <title>Estadísticas</title>
</head>
<div class="w3-container" style="margin-top:10px" id="showcase">
    <h1 class="w3-justify"><b>Estadísticas</b></h1>
</div>
<style>
    .header-fixed {
        width: 100%
    }

        .header-fixed > thead,
        .header-fixed > tbody,
        .header-fixed > thead > tr,
        .header-fixed > tbody > tr,
        .header-fixed > thead > tr > th,
        .header-fixed > tbody > tr > td {
            display: block;
        }

            .header-fixed > tbody > tr:after,
            .header-fixed > thead > tr:after {
                content: ' ';
                display: block;
                visibility: hidden;
                clear: both;
            }

        .header-fixed > tbody {
            overflow-y: auto;
            height: 150px;
        }

            .header-fixed > tbody > tr > td,
            .header-fixed > thead > tr > th {
                width: 20%;
                float: left;
            }
</style>
<div style="position: center">
    <hr />
    <h3>Cupones Vigentes</h3>
    <table class="table table-bordered">
        <thead>
        <td style="width:200px">Imágen del cupón</td>
        <td style="width:500px">Descripción del cupón</td>
        <td style="width:250px">Número de canjeos</td>
        <td style="width:240px">Máximo de canjeos</td>
        <td style="width:260px">Fecha de vencimiento</td>
        </thead>
        <tbody id="contenedorpublis"></tbody>
    </table>
    <br />
    <h3>Cupones Vencidos</h3>
    <table class="table table-bordered">
        <thead>
        <td style="width:200px">Imágen del cupón</td>
        <td style="width:500px">Descripción del cupón</td>
        <td style="width:250px">Número de canjeos</td>
        <td style="width:250px">Máximo de canjeos</td>
        <td style="width:250px">Fecha de vencimiento</td>
        </thead>
        <tbody id="contenedorpublis2"></tbody>
    </table>
</div>




<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.simpleWeather/3.1.0/jquery.simpleWeather.min.js"></script>

<script>

    $(document).ready(function () {
        Verpublicidades1();
        Verpublicidades2();
    });

    function Verpublicidades1(a) {
        $.ajax({
            url: "/Ajax/Ajax?data=verpublis&idpubli=" + a,
            type: "POST",
            success: function (a) {

                $("#contenedorpublis").html(a);

            }
        });
    };


    function Verpublicidades2(a) {
        $.ajax({
            url: "/Ajax/Ajax?data=verpublis2&idpubli=" + a,
            type: "POST",
            success: function (a) {

                $("#contenedorpublis2").html(a);

            }
        });
    };
</script>