
@{
    ViewBag.Title = "ListaSucursales";
    Layout = "~/Views/Shared/MasterComercio.cshtml";
}

<head>
    <title>Lista de sucursales</title>

</head>

<div class="container">
    <div id="listasucursales" class="row centered">

    </div>
</div>



<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
