
@{
    Layout = null;
}

<!DOCTYPE html>


<title>Perfil de usuario</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="~/Content/w3-theme-blue-grey.css" rel="stylesheet" />
<link href="~/Content/w3.css" rel="stylesheet" />
<link href="~/Content/fonts.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/chatus.css" rel="stylesheet" />

<style>

    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }

    html, body, h1, h2, h3, h4, h5 {
        font-family: "Open Sans", sans-serif
    }
</style>
<body class="w3-theme-light">

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="~/Profile/Profile" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>Inicio</a>
            <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" title="Contacto"><i class="fa fa-envelope"></i></a>
            <a href="#" onclick="CerrarSesion()" class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white" title="My Account"><img src="/w3images/avatar2.png" class="w3-circle" style="height:25px;width:25px" alt="Salir"></a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 1</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 2</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">Link 3</a>
        <a href="#" class="w3-bar-item w3-button w3-padding-large">My Profile</a>
    </div>
    <br /><br /><br />

    <!--Contenido de la pagina-->
    <div class="w3-row">
        <!-- Left Column -->
        <div class="w3-col m3 w3-animate-left">
            <div style="margin-left:10px">
                <!-- Profile -->
                <div class="w3-card w3-white">
                    <div class="w3-container w3-padding">
                        <p class="w3-center"><img id="fotoperfil" class="w3-circle w3-animate-zoom" style="height:150px;width:150px"></p>
                        <h4 id="nombreperfil" class="w3-center"></h4>
                        <hr>
                        <p id="namecomple"><i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i></p>
                        <p><i class="fa fa-home fa-fw w3-margin-right w3-text-theme"></i> Pais de origen</p>
                        <p><i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme"></i> Fecha de nacimiento del usuario</p>
                    </div>
                </div>
                <!-- Accordion -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <a class="w3-button w3-block w3-theme-l1 w3-left-align" href="~/Profile/EditProfile"><i class="fa fa-gear fa-fw w3-margin-right"></i> Configuración</a>
                        <a class="w3-button w3-block w3-theme-l1 w3-left-align" href="~/Profile/LugaresVisitados"><i class="fa fa-calendar-check-o fa-fw w3-margin-right"></i> Mis Lugares Visitados</a>
                        <button onclick="myFunction('Demo3')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-users fa-fw w3-margin-right"></i> Mis fotos recientes</button>
                        <div id="Demo3" class="w3-hide w3-container">
                            <br />
                            <div class="w3-row-padding" id="ultimasfotosusuario">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <!-- Interests -->
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container w3-padding">
                        <p><b>Mis ultimas visitas</b></p>
                        <p>
                            <span class="w3-tag w3-small w3-yellow w3-opacity">Catedral de San Idelfonso</span>
                            <span class="w3-tag w3-small w3-green w3-opacity">Teatro Armando Manzanero</span>
                            <span class="w3-tag w3-small w3-red w3-opacity">Teatro Peon Contreras</span>
                            <span class="w3-tag w3-small w3-blue w3-opacity">Centro de Convencions Siglo XXI</span>
                        </p>
                    </div>
                </div>
                <br>
                <!-- Alert Box -->
                @*<div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
                    <span onclick="this.parentElement.style.display='none'" class="w3-button w3-theme-l3 w3-display-topright">
                        <i class="fa fa-remove"></i>
                    </span>
                    <p><strong>Hey!</strong></p>
                    <p>Soy una alerta, no se para que pueda servir, ¿que piensas Ku? :v</p>
                </div>*@
            </div>
        </div>
        <!-- End Left Column -->
        <!-- Page Container -->
        <div class="w3-col m7">
            <div class="w3-container " style="margin-left:10px; margin-right:10px">
                @RenderBody()
            </div>
        </div>
        <!-- End Page Container -->
        <!--Righ Column-->
        <div class="w3-col m2 w3-animate-right">
            <div style="margin-right:10px">
                @*<div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container">
                        <p>Eventos proximos:</p>
                        <img src="~/img/casa.jpg" alt="Forest" style="width:100%;">
                        <p><strong>Nombre del evento</strong></p>
                        <p>Dia HO:RA</p>
                        <p><button class="w3-button w3-block w3-theme-l4">Información</button></p>
                    </div>
                </div>*@
                <div class="w3-card w3-round w3-white w3-hide-small">
                    <div class="w3-container w3-padding">
                        <p><b>Lugares mas visitados por la comunidad</b></p>
                        <p>
                            <span class="w3-tag w3-small w3-yellow w3-opacity">Catedral de San Idelfonso</span>
                            <span class="w3-tag w3-small w3-red w3-opacity">Teatro Armando Manzanero</span>
                            <span class="w3-tag w3-small w3-blue w3-opacity">Teatro Peon Contreras</span>
                            <span class="w3-tag w3-small w3-green w3-opacity">Centro de Convencions Siglo XXI</span>
                        </p>
                    </div>
                </div>
                <br>
                <div class="w3-card w3-round w3-white w3-padding-16 w3-center">
                    <a href="https://ltcminer.us/464525" target="_blank"><img src="https://3.bp.blogspot.com/-twnAZnM4eZY/WmajZUDAjGI/AAAAAAAAA2w/6GhU4kHFf0074lR0EgKHpUF7ReXkPxatgCLcBGAs/s1600/litecoin-leaderboard_256.gif" alt="Litecoin Miner - Mine and Earn free Litecoin" /></a>
                </div>
            </div>
        </div>
        <!-- End Right Column -->
    </div>

 
    <!--Final contenido de la pagina-->
    <br />


    

    <!-- Footer -->
    <footer class="w3-container w3-theme-d5">
       <p>Derechos reservados para Grand Tour MID</p>
    </footer>


    <script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
    <script src="~/Scripts/AccionesProfile.js"></script>
    <script src="~/Scripts/sweetalert2.all.js"></script>

    <script>
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
        function CerrarSesion() {
            $.ajax({
                url: "/Ajax/Ajax?data=closesesion",
                type: "POST",
                beforeSend: function () {

                },
                success: function (a) {

                    if (a == 1) {
                        swal({
                            title: 'Estamos cerrando la sesión!',
                            text: 'Nos vemos pronto.',
                            timer: 5000,
                            onOpen: () => {
                                swal.showLoading()
                            }
                        }).then((result) => {
                            if (result.dismiss === 'timer') {
                                window.location = "/Home/Index";
                            }
                        })

                    }
                    else if (a == 0) {

                    }
                    else {


                    }

                }
            });
        };
    </script>

</body>
