
@{
    Layout = null;
}


<!DOCTYPE html>
<head>

    <link href="https://colorlib.com/polygon/adminator/style.css" rel="stylesheet" />
    <link href="~/Content/tablas.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<body id="bodyhaha" class="app app">

    <div id='loader'>
        <div class="spinner"></div>
    </div>
    <script type="text/javascript">
        window.addEventListener('load', () => {
            const loader = document.getElementById('loader');
            setTimeout(() => {
                loader.classList.add('fadeOut');
            }, 1000);
        });
    </script>

    <div>
        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="sidebar-logo">
                    <div class="peers ai-c fxw-nw">

                        <div class="peer peer-greed">

                            <a class="sidebar-link td-n" href="#">

                                <div class="peers ai-c fxw-nw">

                                    <div class="peer">

                                        <div class="logo">
                                            <img src="~/img/usuario.png" class="rounded-circle w3-center" style="width:50px; margin-top:10px; margin-left:5px" alt="">
                                        </div>

                                    </div>

                                    <div class="peer peer-greed">
                                        <h5 class="lh-1 mB-0 logo-text">Comercio</h5>
                                    </div>

                                </div>

                            </a>

                        </div>

                        <div class="peer">
                            <div class="mobile-toggle sidebar-toggle"><a href="" class="td-n"><i class="ti-arrow-circle-left"></i></a></div>
                        </div>

                    </div>
                </div>

                <ul class="sidebar-menu scrollable pos-r ps ps--active-y">

                    <li class="nav-item mT-30 active"><a class="sidebar-link" href="~/Comercio/Estadisticas" default=""><span class="icon-holder"><i class="c-blue-500 ti-bar-chart"></i> </span><span class="title">Estadísticas</span></a></li>
                    <li class="nav-item"><a class="sidebar-link" href="~/Comercio/AddPubli"><span class="icon-holder"><i class="c-amber-500 ti-image"></i> </span><span class="title">Agregar publicidad</span></a></li>
                    <li class="nav-item"><a class="sidebar-link" href="~/Comercio/InfoComercio"><span class="icon-holder"><i class="c-green-500  ti-user"></i> </span><span class="title">Información personal</span></a></li>
                    <li role="separator" class="divider"></li>
                    <li class="nav-item dropdown">
                        <a class="dropdown-toggle" href="javascript:void(0);"><span class="icon-holder"><i class="c-purple-500 ti-map-alt"></i> </span><span class="title">Sucursales</span> <span class="arrow"><i class="ti-angle-right"></i></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="sidebar-link" href="~/Comercio/Sucursales">Agregar Sucursales</a>
                            </li>
                            <li><a class="sidebar-link" href="~/Comercio/ListaSucursales">Sucursales registradas</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a style="cursor:pointer;" class="sidebar-link" onclick="CerrarSesion()"><span class="icon-holder"><i class="ti-power-off c-red-500"></i></span><span class="title">Cerrar sesión</span></a>
                    </li>

                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; right: 0px; height: 679px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 620px;"></div>
                    </div>

                </ul>

            </div>
        </div>

        <div class="page-container">
            <div class="header navbar">
                <div class="header-container">
                    <ul class="nav-left">
                        <li>
                            <a id="sidebar-toggle" class="sidebar-toggle" style="cursor:pointer" onclick="javascript: CambiarEstilo();">
                                <i class="ti-menu"></i>
                            </a>
                        </li>

                    </ul>
                    <ul class="nav-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown">
                                <div class="peer mR-10"><img style="width:32px; height:32px" id="roundphotoadmi" class="w-2r bdrs-50p"></div>
                                <div class="peer"><span id="usernameadmis" class="fsz-sm c-grey-900"></span></div>
                                
                            </a>
                            <ul class="dropdown-menu fsz-sm">

                                <li><a href="~/Comercio/Estadisticas" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-bar-chart mR-10"></i> <span>Estadísticas</span></a></li>

                                <li><a href="~/Comercio/InfoComercio" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-user mR-10"></i> <span>Información personal</span></a></li>

                                <li><a href="~/Comercio/InfoComercio" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="ti-image mR-10"></i> <span>Agregar publicidad</span></a></li>

                                <li role="separator" class="divider"></li>

                                <li><a style="cursor:pointer;" class="d-b td-n pY-5 bgcH-grey-100 c-grey-700" onclick="CerrarSesion()"><i class="ti-power-off mR-10"></i><span>Cerrar sesión</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <main class="main-content bgc-grey-100">
                <div id="mainContent">
                    @RenderBody()
                </div>
            </main>

            <footer class="bdT ta-c p-30 lh-0 fsz-sm c-grey-600">

                <script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAA_QOzbpA8wTVvsWCfvksp3MfngNP6Q-E'></script>

                <script src="~/Scripts/jquery-3.2.1.min.js"></script>
                <script src="~/Scripts/locationpicker.jquery.min.js"></script>
                <script type="text/javascript" src="~/Scripts/vendor.js"></script>
                <script type="text/javascript" src="~/Scripts/bundle.js"></script>
                <script src="~/Scripts/sweetalert2.all.js"></script>
                <script src="~/Scripts/AccionesComercio.js"></script>

                <script>
                    function CerrarSesion() {
                        $.ajax({
                            url: "/Ajax/Ajax?data=closesesion",
                            type: "POST",
                            beforeSend: function () {

                            },
                            success: function (a) {

                                if (a == 1) {
                                    swal({
                                        title: 'Estamos cerrando la sesión!',
                                        text: 'Nos vemos pronto.',
                                        timer: 5000,
                                        onOpen: () => {
                                            swal.showLoading()
                                        }
                                    }).then((result) => {
                                        if (result.dismiss === 'timer') {
                                            window.location = "/Home/Index";
                                        }
                                    })

                                }
                                else if (a == 0) {

                                }
                                else {


                                }

                            }
                        });
                    };

                </script>
                <script>
                    function CambiarEstilo() {
                        var elemento = document.getElementById("bodyhaha");
                        if (elemento.className == "app") {
                            elemento.className = "app is-collapsed";
                        } else {
                            elemento.className = "app";
                        }
                    }
                </script>
            </footer>
        </div>
    </div>
</body>


