
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/MasterIndex.cshtml";
}


<style>
    .mySlides {
        display: none
    }

    .w3-left, .w3-right, .w3-badge {
        cursor: pointer
    }

    .w3-badge {
        height: 13px;
        width: 13px;
        padding: 0
    }

    #div {
        width: 100%;
        height: 3000px;
        overflow: hidden;
    }

        #div:hover {
            overflow-y: auto;
        }

    #content {
        position: relative;
        width: 200px;
        height: 180px;
        overflow: hidden;
    }

    #scrollable {
        height: 90%;
        width: 555px;
        overflow-y: scroll;
    }
</style>




<div class=" w3-display-container w3-opacity-min" style=" min-height: 540px;" id="imgheader1">

    <div id="content" style="margin-top:40px; width:390px; height:500px; border:none;" class="w3-container w3-small w3-col m4 w3-text-white">
        <h5 class="w3-text-dark-gray w3-center">Comentarios recientes</h5>
        <div id="scrollable">


        </div>
    </div>

    <div class="w3-display-middle" style="white-space:nowrap;">
        <span id="edittitulo" class="w3-xxxlarge w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"></span>

    </div><br />

    @*<div class="phone-display w3-display-right w3-display-top w3-opacity-off" style="right:100px">
        <div class="phone-display--carousel">
            <img class="phone-display--image" src="~/img/phone-screenshot.png" width="190" height="330" />
            <div class="phone-display--carousel-mask">
                <lu>
                    <li class="is-current">
                        <img id="imginicio2" class="phone-display--carousel-list" />
                    </li>
                </lu>
            </div>
        </div>
        <div class="phone-display--bezel hidden-xs">
            <h3 class="w3-button w3-text-black">Descargalo</h3>
        </div>
    </div>*@

</div>
<!-- Container (About Section) -->
<div class="w3-content" style="height:560px" id="about">
    <div class="w3-row">
        <div class="w3-center">
            <p class="w3-xlarge"><b id="titulograndtour"><i class="fa fa-user w3-margin-right"></i></b></p>
            <br>
            <div class="phone-display--carousel">
                <img class="phone-display--image" src="~/img/phone-screenshot.png" width="190" height="330" />
                <div class="phone-display--carousel-mask">
                    <lu>
                        <li class="is-current">
                            <img id="imginicio1" class="phone-display--carousel-list" />
                        </li>
                    </lu>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Hide this text on small devices -->
    <div class="w3-row">
        <div class="w3-hide-small ">
            <br /><br />
            <textarea class="w3-large" readonly="readonly" disabled style="width:950px; height:90px; background-color:transparent;  border:none; resize:none" id="infoapp">
            </textarea>
        </div>
    </div>
</div>
<div class="w3-row w3-center w3-dark-grey w3-padding-16">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">14+</span><br>
        Desarrolladores
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">55+</span><br>
        Premios obtenidos
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">89+</span><br>
        Lugares disponibles
    </div>
    <div class="w3-quarter w3-section">
        <span id="numerouserss" class="w3-xlarge"></span><br>
        Usuarios activos
    </div>
</div>
<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min" id="header2" style="min-width:80%; min-height:30%">
    <div class="w3-display-middle">
        <span id="edititulo3" class="w3-xxlarge w3-dark-grey w3-text-white w3-wide"></span>
    </div>
</div>
<div class="w3-content  w3-container w3-padding-64" id="portfolio">
    <h3 id="tituloju" class="w3-center w3-text-dark-grey "></h3>

    <p id="subtituju" class="w3-center"><em></em></p>
    <br>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <div class="w3-row-padding w3-center">

        <div class="w3-content w3-display-container" style="max-width:900px">
            <img id="slide1" class="mySlides" style="width:100%; height:420px">
            <img id="slide2" class="mySlides" style="width:100%; height:420px">
            <img id="slide3" class="mySlides" style="width:100%; height:420px">
            <img id="slide4" class="mySlides" style="width:100%; height:420px">
            <div class="w3-center w3-container w3-section w3-large w3-text-white w3-display-bottommiddle" style="width:100%">
                <div class="w3-left w3-text-black w3-hover-text-khaki" onclick="plusDivs(-1)">&#10094;</div>
                <div class="w3-right w3-text-black w3-hover-text-khaki" onclick="plusDivs(1)">&#10095;</div>
                <span class="w3-badge demo w3-border w3-transparent  w3-hover-black" onclick="currentDiv(1)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(2)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(3)"></span>
                <span class="w3-badge demo w3-border w3-transparent w3-hover-black" onclick="currentDiv(4)"></span>
            </div>
        </div>
    </div>

</div>
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'" >
    <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption" class="w3-opacity w3-large"></p>
    </div>
</div>
<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container w3-opacity-min" id="header3" style="min-width:80%; min-height:30%">
    <div class="w3-display-middle">
        <span id="edititulo4" class="w3-dark-grey w3-xxlarge w3-text-white w3-wide"></span>
    </div>
</div>
<!-- Container (Contact Section) -->
<div class="w3-content" id="contact">
    <h3 class="w3-center" id="txtTitulo"></h3>
    <h3 class="w3-center" id="Subtitulo"><em></em></h3>
    <div class="w3-row w3-section">
        <div class="w3-col m4 w3-container">
            <!-- Add Google Maps -->
            <div id="googleMap" class="w3-round-large " style="width:100%;height:400px;"></div>
        </div>
        <div class="w3-col m8 w3-panel">
            <div class="w3-large w3-margin-bottom">
                <i class="fa fa-map-marker fa-fw w3-text-black w3-xlarge " style="width:169px" id="direccion"></i> <br>
                <i class="fa fa-phone fa-fw w3-text-black w3-xlarge w3-margin-right" id="telefono"></i> <br>
                <i class="fa fa-envelope fa-fw w3-text-black w3-xlarge w3-margin-right" id="correo"></i> <br>
                <input type="hidden" class="w3-round w3-transparent" id="latitud" />
                <input type="hidden" class="w3-round w3-transparent w3-border" id="longitud" />
            </div>
            <p id="mesaage"><i class="fa fa-coffee"></i></p>
            <form id="frmMensajeContacto">
                <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                    <div class="w3-half">
                        <input class="w3-input w3-border" id="nomcontacto" type="text" placeholder="Nombre" name="nomcontacto">
                    </div>
                    <div class="w3-half">
                        <input class="w3-input w3-border" id="correocontacto" type="text" placeholder="Correo electronico" name="correocontacto">
                    </div>
                </div>
                <input class="w3-input w3-border" type="text" placeholder="Mensaje" id="mensajecontacto" name="mensajecontacto">
                <button class="w3-button w3-black w3-right w3-section" id="enviarcontacto" type="submit">
                    <i class="fa fa-paper-plane"></i> Enviar Mensaje
                </button>
            </form>
        </div>
    </div>
</div>
<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48">
    <div class="w3-center">
        <div class="w3-section w3-large" >
            <a style="cursor:pointer" onclick="document.getElementById('id01').style.display='block'">
                <li style="font-family:Arial"><i class="fa fa-sign-in"></i> Iniciar sesión</li>
            </a>
        </div>
        <div class="w3-large w3-section">
            <a class=" w3-display-container" href="~/Home/Login">
                <li style="font-family:Arial;text-decoration-line:none"><i class="fa fa-cogs"></i> Administrador</li>
            </a>
        </div>
        <div class="w3-large w3-section">
            <a style="cursor:pointer" onclick="document.getElementById('id02').style.display='block'">
                <li style="font-family:Arial"><i class="fa fa-user-plus"></i> Crear cuenta</li>
            </a>
        </div>
    </div>
    <div class="w3-left" style="margin-top:-180px; margin-left:30px">
        <a class="twitter-timeline w3-left" data-width="500" data-height="200" data-theme="dark" data-link-color="#2B7BB9" href="https://twitter.com/Grantourmid?ref_src=twsrc%5Etfw">Tweets by Grantourmid</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

</footer>

<script src="~/Scripts/Acciones.js"></script>


<script>

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
        showDivs(slideIndex += n);
    }

    function currentDiv(n) {
        showDivs(slideIndex = n);
    }

    function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        var dots = document.getElementsByClassName("demo");
        if (n > x.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = x.length }
        for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" w3-white", "");
        }
        x[slideIndex - 1].style.display = "block";
        dots[slideIndex - 1].className += " w3-white";
    }






    http://stackoverflow.com/questions/1326570/how-to-disable-browser-or-element-scrollbar-but-let-scrolling-with-wheel-or-arro*/
    $("div").bind("mousewheel", function (ev, delta) {
        var scrollTop = $(this).scrollTop();
        $(this).scrollTop(scrollTop - Math.round(delta * 20));
    });
</script>
