
@{
    ViewBag.Title = "InfoLugar";
    Layout = "~/Views/Shared/MasterIndex.cshtml";

}

<!DOCTYPE html>
<html>
<title>¡Promocionate con nosotros!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://1.bp.blogspot.com/-qyG7D8yoCBA/Wm_NUyYVf0I/AAAAAAAABAI/gFQIXm-sxiI-0BCu_jgssicwGxaCFJZRACLcBGAs/s1600/IMG_20180129_175721-01.jpeg); background-size:cover">
    <br><br><br>
    <center>
        <div class="w3-row-padding w3-centered">
            <div class="w3-quarter">&ensp;</div>

            <div class="w3-quarter w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16 w3-white"><b>10GB</b> Storage</li>
                    <li class="w3-padding-16 w3-white"><b>10</b> Emails</li>
                    <li class="w3-padding-16 w3-white"><b>10</b> Domains</li>
                    <li class="w3-padding-16 w3-white"><b>Endless</b> Support</li>
                    <li class="w3-padding-16 w3-white">
                        <h2 class="w3-wide">$ 10</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-amber w3-hover-yellow w3-padding-large">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-quarter w3-margin-bottom">

                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-amber w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16 w3-white"><b>25GB</b> Storage</li>
                    <li class="w3-padding-16 w3-white"><b>25</b> Emails</li>
                    <li class="w3-padding-16 w3-white"><b>25</b> Domains</li>
                    <li class="w3-padding-16 w3-white"><b>Endless</b> Support</li>
                    <li class="w3-padding-16 w3-white">
                        <h2 class="w3-wide">$ 25</h2>
                        <span class="w3-opacity">per month</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-amber w3-padding-large w3-hover-yellow">Sign Up</button>
                    </li>
                </ul>
            </div>

            <div class="w3-quarter">&ensp;</div>

            @*<div class="w3-third w3-margin-bottom">
                    <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                        <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                        <li class="w3-padding-16 w3-white"><b>50GB</b> Storage</li>
                        <li class="w3-padding-16 w3-white"><b>50</b> Emails</li>
                        <li class="w3-padding-16 w3-white"><b>50</b> Domains</li>
                        <li class="w3-padding-16 w3-white"><b>Endless</b> Support</li>
                        <li class="w3-padding-16 w3-white">
                            <h2 class="w3-wide">$ 50</h2>
                            <span class="w3-opacity">per month</span>
                        </li>
                        <li class="w3-light-grey w3-padding-24">
                            <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                        </li>
                    </ul>
                </div>*@

        </div>
    </center>
</body>
</html>
