
@{
    ViewBag.Title = "InfoLugar";
    Layout = "~/Views/Shared/MasterIndex.cshtml";

}

<!DOCTYPE html>
<html>
<title>¡Promocionate con nosotros!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body style="background-image:url(https://2.bp.blogspot.com/-EbOlnrEk6l4/WpbzQp1Vd1I/AAAAAAAACmI/kG1Xs0TKGw8u5tRlP7vzG4xMJ1IjQ5BtQCKgBGAs/s1600/IMG_20180224_175541-01.jpeg); background-size:cover">
    <br><br><br>
    <center>
        <div class="w3-row-padding w3-centered">
            <div class="w3-quarter">&ensp;</div>

            <div class="w3-quarter w3-margin-bottom">
                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-black w3-xlarge w3-padding-32">Basic</li>
                    <li class="w3-padding-16 w3-white"><b>15</b> Cupones</li>
                    <li class="w3-padding-16 w3-white"><b>5</b> Sucursales</li>
                    <li class="w3-padding-16 w3-white">Soporte <b>bajo horario laboral</b></li>
                    <li class="w3-padding-16 w3-white">
                        <h2 class="w3-wide">$99.00 MXN</h2>
                        <span class="w3-opacity">mensuales</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-amber w3-hover-yellow w3-padding-large" onclick="document.getElementById('id03').style.display='block'">Comprar</button>
                    </li>
                </ul>
            </div>

            <div class="w3-quarter w3-margin-bottom">

                <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                    <li class="w3-amber w3-xlarge w3-padding-32">Pro</li>
                    <li class="w3-padding-16 w3-white">Cupones <b>Ilimitados</b></li>
                    <li class="w3-padding-16 w3-white">Sucursales <b>Ilimitadas</b></li>
                    <li class="w3-padding-16 w3-white">Soporte <b>las 24 horas</b></li>
                    <li class="w3-padding-16 w3-white">
                        <h2 class="w3-wide">$189.00 MXN</h2>
                        <span class="w3-opacity">mensuales</span>
                    </li>
                    <li class="w3-light-grey w3-padding-24">
                        <button class="w3-button w3-amber w3-padding-large w3-hover-yellow" onclick="document.getElementById('id04').style.display='block'">Comprar</button>
                    </li>
                </ul>
            </div>

            <div class="w3-quarter">&ensp;</div>

            <div id="id03" class="w3-modal">
                <br />
                <div class="w3-modal-content w3-animate-bottom w3-card-4" style="width:600px">
                    <header class="w3-container w3-white">
                        <h6><b>¡Promocionate con nosotros!</b></h6>
                        <span onclick="document.getElementById('id03').style.display='none'"
                              class="w3-hover-red w3-button w3-display-topright">&times;</span>
                    </header>
                    <div class="w3-container">
                        <div class="w3-row w3-section">
                            <div class="w3-rest">
                                <p>Para poder registrarte con nosotros debes enviarnos los siguientes documentos al correo electrónico <a href="mailto:soportegrandtourmid@gmail.com?Subject=Registro%20de%20membresía" target="_top">soportegrandtourmid@gmail.com</a>:</p>
                                <b>
                                    <ul style="list-style-type:none">
                                        <li>Registro Federal de Contribuyentes oficial del SAT</li>
                                        <li>Recibo de pago de Paypal</li>
                                        <li>INE del representante de la cuenta</li>
                                        <li>Correo electrónico</li>
                                    </ul>
                                </b>
                                <br />
                                <a class="w3-button w3-amber w3-hover-yellow" href="https://www.paypal.me/RubenConde/99">Realizar pago</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="id04" class="w3-modal">
                <br />
                <div class="w3-modal-content w3-animate-bottom w3-card-4" style="width:600px">
                    <header class="w3-container w3-white">
                        <h6><b>¡Promocionate con nosotros!</b></h6>
                        <span onclick="document.getElementById('id04').style.display='none'"
                              class="w3-hover-red w3-button w3-display-topright">&times;</span>
                    </header>
                    <div class="w3-container">
                        <div class="w3-row w3-section">
                            <div class="w3-rest">
                                <p>Para poder registrarte con nosotros debes enviarnos los siguientes documentos al correo electrónico <a href="mailto:soportegrandtourmid@gmail.com?Subject=Registro%20de%20membresía" target="_top">soportegrandtourmid@gmail.com</a>:</p>
                                <b>
                                    <ul style="list-style-type:none">
                                        <li>Registro Federal de Contribuyentes oficial del SAT</li>
                                        <li>Recibo de pago de Paypal</li>
                                        <li>INE del representante de la cuenta</li>
                                        <li>Correo electrónico</li>
                                    </ul>
                                </b>
                                <br />
                                <a class="w3-button w3-amber w3-hover-yellow" href="https://www.paypal.me/RubenConde/189">Realizar pago</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @*<div class="w3-quarter w3-margin-bottom">
            <ul class="w3-ul w3-border w3-center w3-hover-shadow">
                <li class="w3-black w3-xlarge w3-padding-32">Premium</li>
                <li class="w3-padding-16 w3-white"><b>50GB</b> Storage</li>
                <li class="w3-padding-16 w3-white"><b>50</b> Emails</li>
                <li class="w3-padding-16 w3-white"><b>50</b> Domains</li>
                <li class="w3-padding-16 w3-white"><b>Endless</b> Support</li>
                <li class="w3-padding-16 w3-white">
                    <h2 class="w3-wide">$ 50</h2>
                    <span class="w3-opacity">per month</span>
                </li>
                <li class="w3-light-grey w3-padding-24">
                    <button class="w3-button w3-green w3-padding-large">Sign Up</button>
                </li>
            </ul>
        </div>*@

        </div>
    </center>
</body>
</html>
