
@{
    ViewBag.Title = "Lugares";
    Layout = "~/Views/Shared/MasterIndex.cshtml";

}

<div class="w3-row align-content-center w3-blue" style="margin-top:38px;" >
    <div class="w3-col m12 w3-margin-top"  style="margin-left:130px" id="homelugares" ></div>
</div>
