

@{
    ViewBag.Title = "Back";
    Layout = "~/Views/Shared/MasterAdmi.cshtml";
}

<head>
    <title>Chat</title>
</head>

<style>
    #scroll {
        width: 628px;
        height: 315px;
        background: url(../Images/contenido.jpg);
        overflow: auto;
    }
</style>


<form id="sidepanel" class="full-container">
    <div class="peers fxw-nw pos-r">
        <div class="peer bdR" id="chat-sidebar">
            <div class="layers h-100">
                <div class="bdB layer w-100"><input placeholder="Search contacts..." name="chatSearch" class="form-constrol p-15 bdrs-0 w-100 bdw-0" type="text"></div>
                <div id="userscontainer" class="layer w-100 fxg-1 scrollable pos-r ps ps--active-y">
                    <li class="fa fa-spin spinner"></li>

                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 567px; right: 0px;">
                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 450px;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="peer peer-greed" id="chat-box">
            <div class="layers h-100">
                <div class="layer w-100">
                    <div class="peers fxw-nw jc-sb ai-c pY-20 pX-30 bgc-white">
                        <div class="peers ai-c">
                            <div class="peer d-n@md+"><a href="" title="" id="chat-sidebar-toggle" class="td-n c-grey-900 cH-blue-500 mR-30"><i class="ti-menu"></i></a></div>
                            <div class="peer mR-20"><img id="userenvia" src="" alt="" class="w-3r h-3r bdrs-50p"></div>
                            <div class="peer">
                                <h6 id="nameenvia" class="lh-1 mB-0"></h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="scroll" class="layer w-100 fxg-1 bgc-grey-200">
                    <div class="p-20 gapY-15" id="mensajes">


                    </div>
                    <div class="ps__rail-x" style="left: 100px; bottom: 0px;">
                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    
                </div>
                <div class="layer w-100">
                    <div class="p-20 bdT bgc-white">
                        <div class="pos-r"><input id="message" name="message" class="form-control bdrs-10em m-0" placeholder="Escribe tu mensaje..." type="text"> <button id="btnenviarchar" type="button" onclick="enviar();" onkeypress="return event;" class="btn btn-primary bdrs-50p w-2r p-0 h-2r pos-a r-1 t-1"><i class="fa fa-paper-plane-o"></i></button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>



<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/AccionesChat.js"></script>

<script>

   
  
</script>