
@{
    ViewBag.Title = "EditarLugar";
    Layout = "~/Views/Shared/MasterAdmi.cshtml";
}

<head>
    <title>Editar lugar</title>
</head>


<div id="divimahe" ondragstart="return false" class="row gap-20 masonry pos-r" style="position: relative; height: 1110.6px;">
    <div class="masonry-sizer col-md-6"></div>
    <div class="masonry-item col-md-6" style="position: absolute; left: 0%; top: 0px;">
        <form enctype="multipart/form-data" id="frmeditarfotolugar" class="bgc-white p-20 bd">
            <input id="idlugar" name="idlugar" type="hidden" />
            <button type="button" id="editlugar1" class="btn btn-primary pull-right">Editar</button>
            <a style="color:black" href="~/Admin/ListaLugares"><li class="fa fa-reply"></li> Regresar</a>
            <h6 class="c-grey-900">Foto del lugar</h6>
            <div class="mT-30">
                <div style="height:529.233px">
                    <center><img class="rounded mx-auto d-block" id="imgeditarlugar" src="~/img/addimagen.png" style="width:450px; height:400px;" /></center>
                    <br />
                    <center><label class="btn-outline-secondary rounded" id="editarlugarimagen" style="width:150px;cursor:pointer;"><li class="fa fa-paperclip"></li> Seleccionar imagen<input name="file" type="file" accept="image/*" style="display:none" onchange="loadimagenlugareditar(event)" /></label></center>
                    <center><button type="button" id="cancelarimagenlugar" class="btn btn-outline-danger btn-sm rounded-circle"><span class="btn-sm">&Chi;</span></button></center>
                    <button id="actualizarfotolugar" type="submit" class="btn btn-primary pull-right">Actualizar foto</button>
                </div>
            </div>
        </form>
    </div>

    <div class="masonry-item col-md-6" style="position: absolute; left: 0%; top: 801.666px;">
        <div class="bgc-white p-20 bd">
            <button type="button" id="editlugar2" class="btn btn-primary pull-right">Editar</button>
            <br />
            <h6 class="c-grey-900">Datos del lugar</h6>
            <div class="mT-30">
                <form id="frmeditardatoslugar" style="height:529.233px" class="container" novalidate="">
                    <input id="idlugar2" name="idlugar2" type="hidden" />
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom01">Nombre del lugar</label><input class="form-control" id="editnamelugar" name="editnamelugar" placeholder="Ingrese nombre del lugar" type="text"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom05">Información del lugar (WEB)</label><textarea style="resize:none" class="form-control" id="editinfolugarweb" name="editinfolugarweb" placeholder="Ingrese información de la web" type="text"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom05">Información del lugar (APP)</label><textarea style="resize:none" class="form-control" id="editinfolugarapp" name="editinfolugarapp" placeholder="Ingrese infomación de la app" type="text"></textarea></div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3"><label for="validationCustom09">Dirección</label><input class="form-control" name="editdireccionlugar" id="editdireccionlugar" placeholder="Ingrese la dirección" type="text"></div>
                    </div>
                    <br />
                    <div class="timepicker-input input-icon form-group">
                        <label for="validationCustom09">Fecha de fundación</label>
                        <div class="input-group">
                            <div class="input-group-addon bgc-white bd bdwR-0"><i class="ti-calendar"></i></div>
                            <input class="form-control bdc-grey-200 start-date" id="editfechalugar" name="editfechalugar" placeholder="Fecha" data-provide="datepicker" type="text">

                        </div>
                    </div>
                    <button class="btn btn-primary" id="btneditardatoslugar" type="submit"><li class="fa fa-edit"></li>Actualizar información</button>
                    <button class="btn btn-danger pull-right" id="btncancelardatoseditarlugar" type="button">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="masonry-item col-md-12" style="position: absolute; left: 49.9994%; top: 506.4px;">

        <div class="bgc-white p-20 bd">

            <h6 class="c-grey-900">Ubicación del lugar</h6>
            <form id="frmeditarubicacionlugar" class="mT-30">
                <input id="idlugar3" name="idlugar3" type="hidden" />
                <div>
                    <div class="bgc-white bd bdrs-3 p-20 mB-20">
                        <input id="edittxtubicalugar" name="edittxtubicalugar" class="form-control" placeholder="Buscar..." type="text" /><br />
                        <center><div id="maplugaredit" style="position: relative; height:400px;  overflow: hidden;"></div></center>

                    </div>
                    <input type="hidden" name="editlonlugar" id="editlonlugar" />
                    <input type="hidden" name="editlalugar" id="editlalugar" />
                </div>

                <button class="btn btn-primary" id="btnactualizarubicacion" type="submit"><li class="fa fa-edit"></li> Actualizar Ubicación</button>
            </form>
        </div>
    </div>

</div>

<script>
    $(document).ready(function () {
        

        $("#frmeditarubicacionlugar").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/Ajax?data=actualizarubicacion",
                type: "POST",
                data: $("#frmeditarubicacionlugar").serialize(),
                beforeSend: function () {

                },
                success: function (a) {

                    if (a == 1) {
                        swal({
                            text: 'Ubicacion actualizada!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            showConfirmButton: false
                        })
                        Cargarinfolugar();


                    }
                    else if (a == 0) {


                    }
                    else {



                    }

                }
            });
        });
    });




    $(document).ready(function () {
        $("#frmeditardatoslugar").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/Ajax?data=actualizardatoslugar",
                type: "POST",
                data: $("#frmeditardatoslugar").serialize(),
                beforeSend: function () {

                },
                success: function (a) {

                    if (a == 1) {
                        swal({
                            text: 'Se han actualizado los datos del lugar!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        Cargarinfolugar();
                        DeshabilitarInputs();
                    }
                    else if (a == 0) {

                    }
                    else {



                    }

                }
            });
        });
    });




    ///cambiar imagen de div se utilizara para el parallax document.getElementById('divimahe').style.backgroundImage = "url(" + datos.imagenportada + ")";



    $(document).ready(function () {
        $("#frmeditarfotolugar").submit(function (e) {
            e.preventDefault();
            var form = $('#frmeditarfotolugar')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: '/Ajax/Ajax?data=actualizarimagenlugar',  //Server script to process data
                type: 'POST',
                data: dataString,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,
                success: function (a) {
                    if (a == 1) {
                        swal({
                            text: 'Se ha actualizado tu foto de perfil!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        Cargarinfolugar();
                        $("#editarlugarimagen").hide();
                        $("#actualizarfotolugar").hide();
                        $("#cancelarimagenlugar").hide();


                    }
                    else if (a == 0) {
                        swal({
                            title: '¿Olvidas algo?',
                            text: 'Debes seleccionar una imagen o puedes cancelar!',
                            type: "question",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })




                    }

                }
            });
        });
    });



    $(document).ready(function () {

        DeshabilitarInputs();
        Cargarinfolugar();
    })

    $("#editlugar1").click(function () {

        $("#editarlugarimagen").show();
        $("#actualizarfotolugar").show();
        $("#cancelarimagenlugar").show();
    })




    $("#editlugar2").click(function () {
        $("#editnamelugar").prop('disabled', false);
        $("#editinfolugarweb").prop('disabled', false);
        $("#editinfolugarapp").prop('disabled', false);
        $("#editdireccionlugar").prop('disabled', false);
        $("#btncancelardatoseditarlugar").prop('disabled', false);
        $("#editfechalugar").prop('disabled', false);
        $("#btneditardatoslugar").prop('disabled', false);

    })


    $("#btncancelarubicacion").click(function () {

        Cargarinfolugar();
    })

    $("#btncancelardatoseditarlugar").click(function () {
        Cargarinfolugar();
        DeshabilitarInputs();

    })


    $("#cancelarimagenlugar").click(function () {
        Cargarinfolugar();
        $("#editarlugarimagen").hide();
        $("#actualizarfotolugar").hide();
        $("#cancelarimagenlugar").hide();
    })

    function DeshabilitarInputs() {
        $("#actualizarfotolugar").hide();
        $("#editarlugarimagen").hide();
        $("#cancelarimagenlugar").hide();
        $("#editnamelugar").prop('disabled', true);
        $("#editinfolugarweb").prop('disabled', true);
        $("#editinfolugarapp").prop('disabled', true);
        $("#editdireccionlugar").prop('disabled', true);
        $("#editfechalugar").prop('disabled', true);
        $("#btneditardatoslugar").prop('disabled', true);
        $("#editfechalugar").prop('disabled', true);
        $("#btncancelardatoseditarlugar").prop('disabled', true);

    }

    function Cargarinfolugar() {

        $.ajax({
            url: "/Ajax/Ajax?data=cargarinfolugar",
            type: "POST",
            success: function (a) {

                var datos = JSON.parse(a);
                

                $("#imgeditarlugar").prop("src", datos.imagenportada);
                $('#editnamelugar').val(datos.nombre);
                $('#editinfolugarweb').val(datos.informacionweb);
                $('#editinfolugarapp').val(datos.informacionapp);
                $('#editdireccionlugar').val(datos.direccion);
                $('#editfechalugar').val(datos.fechafundacion);
                $('#edittxtubicalugar').val(datos.direccionmap);
                $('#editlonlugar').val(datos.longitud);
                $('#editlalugar').val(datos.latitud);
                $('#idlugar').val(datos.idlugar);
                $('#idlugar2').val(datos.idlugar);
                $('#idlugar3').val(datos.idlugar);


                $('#maplugaredit').locationpicker({
                    radius: 0,
                    location: {
                        latitude: $('#editlalugar').val(),
                        longitude: $('#editlonlugar').val()
                    },
                    inputBinding: {
                        latitudeInput: $('#editlalugar'),
                        longitudeInput: $('#editlonlugar'),
                        locationNameInput: $('#edittxtubicalugar')


                    },
                    enableAutocomplete: true

                });

            }

        });
    }




</script>
