
@{
    ViewBag.Title = "EditarPregunta";
    Layout = "~/Views/Shared/MasterAdmi.cshtml";
}

<div class="container-fluid">
    <div class="bgc-white bd bdrs-3 p-20 mB-20">
       <a style="color:black" href="~/Admin/ListaPreguntas"><li class="fa fa-reply-all"></li> Regresar</a> <h4 class="c-grey-900 mT-10 mB-30">Agregar Preguntas y respuestas</h4>
       
        <center><h3 id="titulolugareditar"></h3></center></center>
        <center> <img id="imageneditarpregunta" class="img-rounded rounded" src="~/img/lugar.png" style="width:400px; height:400px; border:inherit" /></center>

    </div>
    <form id="frmeditarpregunta" class="bgc-white bd bdrs-3 p-20 mB-20">
        <input id="idlugarpreguntas" name="idlugarpreguntas" type="hidden" />
        <button id="editpregunta" class="pull-right btn btn-primary">Editar</button><br />
        <div class="form-group">
            <label for="exampleInputEmail1">Pregunta</label>
            <input type="text" class="form-control border-info" id="namepreguntaeditar" name="namepreguntaeditar" aria-describedby="emailHelp" placeholder="Ingrese la pregunta">
        </div>

        <div class="form-group">
            <label for="exampleInputEmail1">Respuesta correcta</label>
            <input type="text" class="form-control border-success" id="editarcorrecta" name="editarcorrecta" aria-describedby="emailHelp" placeholder="Ingrese la Respuesta correcta">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Respuesta Incorrecta N°1</label>
            <input type="text" class="form-control border-danger" id="editarincorrecta1" name="editarincorrecta1" aria-describedby="emailHelp" placeholder="Ingrese la Respuesta incorrecta N°1">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Respuesta Incorrecta N°2</label>
            <input type="text" class="form-control border-danger" id="editarincorrecta2" name="editarincorrecta2" aria-describedby="emailHelp" placeholder="Ingrese la Respuesta  incorrecta N°2">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Respuesta Incorrecta N°3</label>
            <input type="text" class="form-control border-danger" id="editarincorrecta3" name="editarincorrecta3" aria-describedby="emailHelp" placeholder="Ingrese la Respuesta  incorrecta N°3">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success" id="btneditarpregunta">Actualizar pregunta</button>
            <button type="button" class="btn btn-danger" id="btncancelareditarpregunta">Cancelar</button>
        </div>
        <input id="respuesta" name="respuesta" type="hidden" />
    </form>
</div>

<script>

    $(document).ready(function () {
        $("#frmeditarpregunta").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Ajax/Ajax?data=updatepregunta",
                type: "POST",
                data: $("#frmeditarpregunta").serialize(),
                beforeSend: function () {

                },
                success: function (a) {

                    if (a == 1) {
                        alert("ACtualizado");
                        Infopregunta();
                    }
                    else if (a == 0) {

                    }
                    else {
                        var datos = JSON.parse(a);


                    }

                }
            });
        });
    });


    function Infopregunta() {

        $.ajax({
            url: "/Ajax/Ajax?data=infopreguntaeditar",
            type: "POST",
            success: function (a) {
                var datos = JSON.parse(a);

                $('#namepreguntaeditar').val(datos.pregunta);
                $('#editarcorrecta').val(datos.correcta);
                $('#editarincorrecta1').val(datos.respuesta2);
                $('#editarincorrecta2').val(datos.respuesta3);
                $('#editarincorrecta3').val(datos.respuesta4);
                $('#titulolugareditar').html(datos.nombre);
                $("#respuesta").val(datos.idpregunta);
                $("#imageneditarpregunta").prop("src", datos.imagenportada)

            }

        });
    };


    $(document).ready(function () {

        Infopregunta();
    })

</script>