    
@{
    ViewBag.Title = "EditIndex";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}

<head>
    <title>Mi diseño</title>
</head>

<div class="w3-container" style="margin-top:10px" id="showcase">
    <h1 class="w3-justify"><b>Administración</b></h1>
</div>

<div class="w3-row">
    <h3 class="w3-tooltip">Imagenes principales <li class="fa fa-question-circle"></li><span class="w3-text"><img onclick="onClick(this)" src="~/img/Previsualización.png" style="width:300px"  class="w3-top w3-opacity-off" /></span></h3>
</div>
    @*<div class="w3-third">
        <img src="~/img/casa.jpg" style="width:340.492px;height:229.445px" id="img" onclick="onClick(this)">
        <label class="w3-button w3-grey w3-hover-teal"><li class="fa fa-folder "></li> Seleccionar imagen<input id="file" name="file" type="file" accept="image/*" style="display:none" onchange="loadFile(event)" /></label>
        <br /><br />
        <div class="phone-display w3-display-container w3-opacity-off">
            <div class="phone-display--carousel">
                <img class="phone-display--image" src="~/img/phone-screenshot.png" width="190" height="330" />
                <div class="phone-display--carousel-mask">
                    <lu>
                        <li class="is-current">
                            <img class="phone-display--carousel-list" src="~/img/casa.jpg" />
                        </li>
                    </lu>
                </div>
            </div>
            <br><br><br><br>
            <div class="phone-display--bezel hidden-xs">
                <h3 class="w3-button w3-text-black">Descargalo</h3>
            </div>
        </div>
    </div>*@

    <div class="w3-third">
        <img src="~/img/casa.jpg" style="width:341.490px;height:229.445px" id="img1" onclick="onClick(this)">
        <label class="w3-button w3-grey w3-hover-teal"><li class="fa fa-folder "></li> Seleccionar imagen<input id="file1" name="file1" type="file" accept="image/*" style="display:none" onchange="loadFile1(event)" /></label>
        <br /><br />
        <div class="phone-display w3-display-container w3-opacity-off">
            <div class="phone-display--carousel">
                <img class="phone-display--image" src="~/img/phone-screenshot.png" width="190" height="330" />
                <div class="phone-display--carousel-mask">
                    <lu>
                        <li class="is-current">
                            <img class="phone-display--carousel-list" src="~/img/casa.jpg" />
                        </li>
                    </lu>
                </div>
            </div>
            <br><br><br><br>
            <div class="phone-display--bezel hidden-xs">
                <h3 class="w3-button w3-text-black">Descargalo</h3>
            </div>
        </div>
    </div>
    <div class="w3-third">
        <img src="~/img/casa.jpg" style="width:330.492px;height:229.445px" id="img2" onclick="onClick(this)">
        <label class="w3-button w3-grey w3-hover-teal"><li class="fa fa-folder "></li> Seleccionar imagen<input id="file2" name="file2" type="file" accept="image/*" style="display:none" onchange="loadFile2(event)" /></label>
        <br /><br />
        <div class="phone-display w3-display-container w3-opacity-off">
            <div class="phone-display--carousel">
                <img class="phone-display--image" src="~/img/phone-screenshot.png" width="190" height="330" />
                <div class="phone-display--carousel-mask">
                    <lu>
                        <li class="is-current">
                            <img id="img3" class="phone-display--carousel-list" src="~/img/raidlobby.jpg" />
                        </li>
                    </lu>
                </div>
            </div>
            <br><br><br><br>
            <div class="phone-display--bezel hidden-xs">
                <h3>Dispobible</h3>
            </div>
            <label class="w3-button w3-green w3-hover-teal"><li class="fa fa-folder "></li> Seleccionar imagen<input id="file1" name="file1" type="file" accept="image/*" style="display:none" onchange="loadFile3(event)" /></label>
        </div>
    </div>


</div>



<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
        <img id="img01" class="w3-image">
        <p id="caption"></p>
    </div>
</div>



<script type="text/javascript">

    var loadFile = function (event) {
        var img = document.getElementById('img');
        img.src = URL.createObjectURL(event.target.files[0]);
    };

    var loadFile1 = function (event) {
        var img1 = document.getElementById('img1');
        img1.src = URL.createObjectURL(event.target.files[0]);
    };


    var loadFile2 = function (event) {
        var img2 = document.getElementById('img2');
        img2.src = URL.createObjectURL(event.target.files[0]);
    };

    var loadFile3 = function (event) {
        var img3 = document.getElementById('img3');
        img3.src = URL.createObjectURL(event.target.files[0]);
    };

    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
    }

</script>