
@{

    Layout = null;
}

<!DOCTYPE html>
<link href="/Content/font-awesome.min.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link href="/Content/estiloIndex.css" rel="stylesheet" />
<link href="/Content/PhoneDesign.css" rel="stylesheet" />
<link href="/Content/w3.css" rel="stylesheet" />
<title>Diseño</title>


<body>

    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar" id="myNavbar">
            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>
            <a href="~/Admin/Back" class="w3-bar-item w3-button w3-text-white"><li class="fa fa-cogs fa-spin"></li> Panel de Administración</a>

        </div>
        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="~/Admin/Back" class="w3-bar-item w3-button w3-text-white w3-right"><li class="fa fa-cogs fa-spin"></li> Panel de Administración</a>
        </div>
    </div>








    <!-- First Parallax Image with Logo Text -->
    <div class=" w3-display-container w3-opacity-min" style="background-image:url(../img/casa.jpg); min-height: 100%;" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">

            <span id="edittitulo" class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"></span>
            <button id="edit1" onclick="document.getElementById('Modaledit').style.display='block'" class="w3-button w3-round w3-blue w3-ripple w3-hover-blue w3-small"><i class="fa fa-cog fa-spin"></i> Editar</button>
        </div>

        <div class="phone-display w3-display-right w3-opacity-off" style="right:250px">
            <div class="phone-display--carousel">
                <img class="phone-display--image" src="/img/phone-screenshot.png" width="190" height="330" />
                <div class="phone-display--carousel-mask">
                    <lu class="phone-display--carousel-list">
                        <li class="is-current">
                            <img class="phone-display--carousel-list" src="/img/casa.jpg" />
                        </li>
                    </lu>
                    <lu>
                        <li class="is-current">
                            <img class="phone-display--carousel-list" src="/img/raidlobby.jpg" />
                        </li>
                    </lu>
                </div>
            </div>
            <div class="phone-display--bezel hidden-xs">
                <h3 class="w3-button w3-text-black">Descargalo</h3>
            </div>
        </div>
    </div>



    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">

        <button id="edit2" onclick="document.getElementById('Modaledit').style.display='block'" class="w3-button w3-right w3-round w3-blue w3-ripple w3-hover-blue w3-small"><i class="fa fa-cog fa-spin"></i> Editar</button>
        <h3 id="edititulo2" class="w3-center"></h3>
        <p id="editsubtitulo" class="w3-center"><em></em></p>
        <p id="editinfoapp">
        </p>
        <button type="button" onclick="Updateimagen()" class="w3-button w3-round w3-green w3-small">Actualizar Imagen</button>
        <div class="w3-row">

            <form enctype="multipart/form-data" class="w3-col m6 w3-center w3-padding-large">
                <label class="w3-button w3-grey w3-hover-teal"><li class="fa fa-folder" for="file"></li> Seleccionar imagen<input id="file" name="file" type="file" accept="image/*" style="display:none" onchange="verimg(event)" /></label>
                <div class="phone-display--carousel">

                    <img class="phone-display--image" src="/img/phone-screenshot.png" width="190" height="330" />
                    <div class="phone-display--carousel-mask">
                        <lu>
                            <li class="is-current">
                                <img id="img1" class="phone-display--carousel-list" src="/img/casa.jpg" />

                            </li>
                        </lu>

                    </div>

                </div>



            </form>

            <!-- Hide this text on small devices -->
            <div class="w3-col m6 w3-hide-small w3-padding-large">
                <p id="infoadicional">
                </p>
            </div>
        </div>

    </div>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">14+</span><br>
            Partners
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">55+</span><br>
            Projects Done
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">89+</span><br>
            Happy Clients
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">150+</span><br>
            Meetings
        </div>
    </div>

    <!-- Second Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span id="edititulo3" class="w3-xxlarge w3-text-white w3-wide"></span>
            <button id="edit3" onclick="document.getElementById('Modaledit').style.display='block'" class="w3-button w3-right w3-circle w3-blue w3-ripple w3-hover-blue w3-small"><i class="fa fa-cog fa-spin w3-small"></i></button>
        </div>
    </div>


    <div class="w3-content w3-container w3-padding-64" id="portfolio">
        <h3 class="w3-center">MY WORK</h3>
        <p class="w3-center"><em>Here are some of my latest lorem work ipsum tipsum.<br> Click on the images to make them bigger</em></p><br>

        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="w3-row-padding w3-center">
            <div class="w3-col m3">
                <img src="/img/casa.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist over the mountains">
            </div>

            <div class="w3-col m3">
                <img src="/w3images/p2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Coffee beans">
            </div>

            <div class="w3-col m3">
                <img src="/w3images/p3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Bear closeup">
            </div>

            <div class="w3-col m3">
                <img src="/w3images/p4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Quiet ocean">
            </div>
        </div>

        <div class="w3-row-padding w3-center w3-section">
            <div class="w3-col m3">
                <img src="/w3images/p5.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="The mist">
            </div>

            <div class="w3-col m3">
                <img src="/w3images/p6.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="My beloved typewriter">
            </div>

            <div class="w3-col m3">
                <img src="/w3images/p7.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Empty ghost train">
            </div>

            <div class="w3-col m3">
                <img src="/w3images/p8.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity" alt="Sailing">
            </div>
            <button class="w3-button w3-padding-large w3-light-grey" style="margin-top:64px">LOAD MORE</button>
        </div>
    </div>


    <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
        <span class="w3-button w3-large w3-black w3-display-topright" title="Close Modal Image"><i class="fa fa-remove"></i></span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption" class="w3-opacity w3-large"></p>
        </div>
    </div>

    <!-- Third Parallax Image with Portfolio Text -->
    <div class="bgimg-3 w3-display-container w3-opacity-min">
        <div class="w3-display-middle">
            <span id="edittitulo4" class="w3-xxlarge w3-text-white w3-wide"></span>
            <button id="edit4" onclick="document.getElementById('Modaledit').style.display='block'" class="w3-button w3-right w3-circle w3-blue w3-ripple w3-hover-blue w3-small"><i class="fa fa-cog fa-spin w3-small"></i></button>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div class="w3-content w3-container w3-padding-64" id="contact">
        <button id="edit5" onclick="document.getElementById('Modaledit').style.display='block'" class="w3-button w3-right w3-round w3-blue w3-ripple w3-hover-blue w3-small"><i class="fa fa-cog fa-spin w3-small"></i> Editar</button>
        <h3 class="w3-center" id="txtTitulo"></h3>
        <h3 class="w3-center" id="Subtitulo"><em></em></h3>
        <div class="w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container">
                <!-- Add Google Maps -->
                <div id="googleMap" class="w3-round-large " style="width:100%;height:400px;"></div>
            </div>
            <div class="w3-col m8 w3-panel">
                <div class="w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge " style="width:169px" id="direccion"></i> <br>
                    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right" id="telefono"></i> <br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right" id="correo"></i> <br>
                    <input type="hidden" class="w3-round w3-transparent" id="latitud" />
                    <input type="hidden" class="w3-round w3-transparent w3-border" id="longitud" />
                </div>
                <p id="mesaage"><i class="fa fa-coffee"></i></p>
                <form id="frmMensajeContacto">
                    <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
                        <div class="w3-half">
                            <input class="w3-input w3-border" id="nomcontacto" type="text" placeholder="Nombre" name="nomcontacto">
                        </div>
                        <div class="w3-half">
                            <input class="w3-input w3-border" id="correocontacto" type="text" placeholder="Correo electronico" name="correocontacto">
                        </div>
                    </div>
                    <input class="w3-input w3-border" type="text" placeholder="Mensaje" id="mensajecontacto" name="mensajecontacto">
                    <button class="w3-button w3-black w3-right w3-section" id="enviarcontacto" type="submit">
                        <i class="fa fa-paper-plane"></i> Enviar Mensaje
                    </button>
                </form>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-48 w3-opacity w3-hover-opacity-off">

        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
        <div class="w3-xlarge w3-section">
            <div class="w3-xlarge w3-section">
                <a style="cursor:pointer" onclick="document.getElementById('id01').style.display='block'" class=" w3-display-container"><li class="fa fa-sign-in"> Iniciar Sesión</li></a>
            </div>
            <div class="w3-xlarge w3-section">
                <a class=" w3-display-container" href="/Home/adminlog"><li class="fa fa-cogs"> Administrador</li></a>
            </div>
            <div class="w3-xlarge w3-section">
                <a style="cursor:pointer" onclick="document.getElementById('id02').style.display='block'" class=" w3-display-container"><li class="fa fa-user-plus"> Crear cuenta</li></a>
            </div>
            <a href="https://Www.facebook.com"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>

        </div>
    </footer>

    <div id="Modaledit" class="w3-modal w3-round w3-transparent">
        <div class="w3-modal-content w3-animate-top w3-round" style="width:650px">
            <header class="w3-container w3-blue-gray w3-round">
                <span onclick="document.getElementById('Modaledit').style.display='none'"
                      class="w3-button w3-display-topright">&times;</span>
                <h2>Editar Información</h2>
            </header>
            <div id="contenedorprimario" class="w3-container w3-white">
            </div>
            <footer class="w3-container w3-blue-gray">
                <p class="w3-small">Derechos reservados</p>
            </footer>
        </div>
    </div>



    <script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
    <script type="text/javascript" src='https://maps.google.com/maps/api/js?sensor=false&libraries=places&key=AIzaSyAA_QOzbpA8wTVvsWCfvksp3MfngNP6Q-E'></script>
    <script src="/Scripts/locationpicker.jquery.min.js"></script>
    <script src="/Scripts/sweetalert2.all.js"></script>
    <script>
        

$(document).ready(function () {
    $.ajax({
        url: "/Ajax/Ajax?data=loadinfo",
        type: "POST",
        success: function (a) {
            var datos = JSON.parse(a);
            $('#edittitulo').html(datos.titulo);
            $('#edititulo2').html(datos.titulo2);
            $('#editsubtitulo').html(datos.subtitulo);
            $('#editinfoapp').html(datos.infoapp);
            $('#infoadicional').html(datos.infoadicional);
            $('#edititulo3').html(datos.titulo3);
            $('#edittitulo4').html(datos.titulo4);
           
        }
    });

    var ajaxCall = function () {
        $.ajax({
            url: "/Ajax/Ajax?data=loadinfo",
            type: "POST",
            success: function (a) {
                var datos = JSON.parse(a);
                $('#edittitulo').html(datos.titulo);
                $('#edititulo2').html(datos.titulo2);
                $('#editsubtitulo').html(datos.subtitulo);
                $('#editinfoapp').html(datos.infoapp);
                $('#infoadicional').html(datos.infoadicional);
                $('#edititulo3').html(datos.titulo3);
                $('#edittitulo4').html(datos.titulo4);





            }
        });
    }
    setInterval(ajaxCall, 1000);
});


function Updateimagen() {
    $.ajax({
        url: "/Ajax/GuardarImagen1",
        type: "POST",
        data: $("#about").serialize(),
        beforeSend: function () {

        },
        success: function (a) {

            if (a == 1) {

                swal({
                    text: 'Titulo 1 Actualizado!',
                    type: "success",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#4CAF50",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                });

            }
            else if (a == 0) {

            }
            else {


            }

        }
    });
};



///actualizar titulo1
function updatetitulo1() {
    $.ajax({
        url: "/Ajax/Ajax?data=updatetitulo1",
        type: "POST",
        data: $("#frmtitulo1").serialize(),
        beforeSend: function () {

        },
        success: function (a) {

            if (a == 1) {

                swal({
                    text: 'Titulo 1 Actualizado!',
                    type: "success",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#4CAF50",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                });

            }
            else if (a == 0) {

            }
            else {


            }

        }
    });
};

//actualizar info Acercade

function updateacerca() {
    $.ajax({
        url: "/Ajax/Ajax?data=updateacerca",
        type: "POST",
        data: $("#frmacerca").serialize(),
        beforeSend: function () {

        },
        success: function (a) {

            if (a == 1) {

                swal({
                    text: 'Información actualizada!',
                    type: "success",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#4CAF50",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                });

            }
            else if (a == 0) {

            }
            else {


            }

        }
    });
};
//titulo3

function updatetitulo3() {
    $.ajax({
        url: "/Ajax/Ajax?data=updatetitulo3",
        type: "POST",
        data: $("#frmtitulo3").serialize(),
        beforeSend: function () {

        },
        success: function (a) {

            if (a == 1) {

                swal({
                    text: 'Información actualizada!',
                    type: "success",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#4CAF50",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                });

            }
            else if (a == 0) {

            }
            else {


            }

        }
    });
};



$(document).ready(function () {
    var ajaxCall = function () {
        $.ajax({
            url: "/Ajax/Ajax?data=InfoContactoIndex",
            type: "POST",
            success: function (a) {
                $("#contact").show();
                var datos = JSON.parse(a);
                $('#latitud').val(datos.latitud);
                $('#longitud').val(datos.longitud);
                $('#txtTitulo').html(datos.titulo);
                $('#Subtitulo').html(datos.subtitulo);
                $('#direccion').html(datos.direccion);
                $('#telefono').html(datos.numero);
                $('#correo').html(datos.correo);
                $('#mesaage').html(datos.mensaje);


                $('#googleMap').locationpicker({
                    radius: 0,
                    location: {
                        latitude: $('#latitud').val(),
                        longitude: $('#longitud').val()
                    },
                    inputBinding: {
                        latitudeInput: $('#latitud'),
                        longitudeInput: $('#longitud'),

                    },

                })
            }
        });
    }
    setInterval(ajaxCall, 1000);
});

function scrollToEnd() {
    var container = document.getElementById('contact');
    var scrollHeight = container.scrollHeight;
    container.scrollTop = scrollHeight;
}

////editar contacto
$(document).ready(function () {
    $("#btnacgragsr").submit(function () {
        if ($('#la').val() != "" && $("#lon").val() != "" && $("#tit").val() != "" && $("#subt").val() != "" && $("#dire").val() != "" && $("#tel").val() != "" && $("#corr").val() != "") {
            $.ajax({
                url: "/Ajax/Ajax?data=InsertInfoContact",
                type: "POST",
                data: $("#frmContac").serialize(),
                beforeSend: function () {
                    $("#btnconbtntacto").html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Iniciando sesión');
                },
                success: function (a) {
                    if (a == 1) {
                        swal({
                            text: 'Se actualizo la información correctamente!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#4CAF50",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        });
                        $("#btnconbtntacto").html('<i class="fa fa-paper-plane" aria-hidden="true"></i> ACTUALIZAR');
                        scrollToEnd();
                    }
                    else if (a == 0) {

                        swal({
                            text: 'Usuario o contraseña incorrecta!',
                            type: "error",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#4CAF50",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        $("#btnconbtntacto").html('<i class="fa fa-paper-plane"></i> Actualizar');




                    }
                    else {

                    }
                }
            });
        }
        else {
        }
    });

});



$("#edit1").click(function () {

    $('#contenedorprimario').html(
        '<form id="frmtitulo1">' +
        '<label>Titulo</label>' +
        '</br><input placeholder="Ingrese el titulo" id="titulo1" name="titulo1" class="w3-round w3-transparent w3-border w3-input" type="text"/></br>' +
        '<button type="button" onclick="updatetitulo1()" class="w3-button w3-small w3-right w3-green w3-hover-green w3-round"><li class="fa fa-save"></li> Actualizar</button><br /><br />' +
        '</form>'
    )
});

$("#edit2").click(function () {

    $('#contenedorprimario').html(
        '<form id="frmacerca">' +
        '<label>Titulo</label>' +
        '</br><input placeholder="Ingrese el titulo" id="titulo2" name="titulo2" class="w3-round w3-transparent w3-border w3-input" type="text"/></br>' +
        '<label>Subtitulo</label>' +
        '</br><input placeholder="Ingrese el Subtitulo" id="subtitulo2" name="subtitulo2" class="w3-round w3-transparent w3-border w3-input" type="text"/></br>' +
        '<label>Informacion acerca de la app</label>' +
        '</br><textarea placeholder="Ingrese la información acerca de la app" id="infoapp2" name="infoapp2" class="w3-round w3-transparent w3-border w3-input" type="text"></textarea></br>' +
        '<label>Informacion adicional</label>' +
        '</br><textarea placeholder="Ingrese la información acerca de la app" id="infoadicional2" name="infoadicional2" class="w3-round w3-transparent w3-border w3-input" type="text"></textarea></br>' +
        '<button type="button" onclick="updateacerca()" class="w3-button w3-small w3-right w3-green w3-hover-green w3-round"><li class="fa fa-save"></li> Actualizar</button><br /><br />' +
        '</form>'
    )
    $.ajax({
        url: "/Ajax/Ajax?data=loadinfo",
        type: "POST",
        success: function (a) {
            var datos = JSON.parse(a);
            $('#titulo2').val(datos.titulo2);
            $('#subtitulo2').val(datos.subtitulo);
            $('#infoapp2').html(datos.infoapp);
            $('#infoadicional2').html(datos.infoadicional);

        }
    });
});

$("#edit3").click(function () {

    $('#contenedorprimario').html(
        '<form id="frmtitulo3"> ' +
        '<label>Titulo</label>' +
        '</br><input placeholder="Ingrese el titulo" id="titulo3" name="titulo3" class="w3-round w3-transparent w3-border w3-input" type="text"/></br>' +
        '<button type="button" onclick="updatetitulo3()" class="w3-button w3-small w3-right w3-green w3-hover-green w3-round"><li class="fa fa-save"></li> Actualizar</button><br /><br />' +
        '</form>'
    )
});

$("#edit4").click(function () {

    $('#contenedorprimario').html(
        '<label>Titulo</label>' +
        '</br><input placeholder="Ingrese el titulo" class="w3-round w3-transparent w3-border w3-input" type="text"/></br>' +
        '<button class="w3-button w3-small w3-right w3-green w3-hover-green w3-round"><li class="fa fa-save"></li> Actualizar</button><br /><br />'
    )



});

$("#edit5").click(function () {

    $('#contenedorprimario').html(
        '<div class="w3-row w3-padding-32 w3-section">' +
        '<div class="w3-col m4 w3-container">' +
        '<input class="w3-round w3-transparent w3-border" style="width:500px;" id="txtubi" name="txtubi" /><br/><br/>' +
        ////mAPS
        '<div id="googleMap2" class="w3-round-large" style="width:206px;height:400px;"></div>' +
        '</div ><br />' +

        '<div class="w3-col m8 w3-panel">' +

        '<form id="frmContac" class="w3-large w3-margin-bottom">' +
        '<li class="fa fa-text-width fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></li><input id="tit" name="tit" class=" w3-transparent w3-round w3-border" style="width:300px" placeholder="Ingrese Titúlo" required /><br /><br />' +
        '<li class="fa fa-text-width fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></li><input id="subt" name="subt" class="w3-transparent w3-border w3-round"  style="width:300px" placeholder="Ingrese un subtitulo" required /><br /><br />' +
        '<i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><input id="dire" name="dire" placeholder="Dirección" class="w3-transparent w3-border w3-round"  style="width:300px" required /> <br><br>' +
        '<i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><input id="tel" name="tel" placeholder="Ingrese número de telefono" class="w3-border w3-round w3-transparent"  style="width:300px" required /><br><br />' +
        '<i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><input id="corr" name="corr" placeholder="Correo electronico" class="w3-round w3-transparent w3-border"  style="width:300px" required /><br><br />' +
        '<i class="fa fa-coffee fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i><input id="mensajecontacto2" name="mensajecontacto" placeholder="Mensaje personalizado para el usuario" class="w3-round w3-transparent w3-border"  style="width:300px" required /><br><br />' +
        '<input type="hidden" class="w3-round w3-transparent" id="la" name="la" />' +
        '<input type="hidden" class="w3-round w3-transparent w3-border" id="lon" name="lon" />' +
        '<input id="btnacgragsr" type="submit" value="holis" />'+
        '</form>' +
        '</div >' +
        '</div > ')

    $.ajax({
        url: "/Ajax/Ajax?data=InfoContactoIndex",
        type: "POST",
        success: function (a) {

            var d = JSON.parse(a);
            $('#la').val(d.latitud);
            $('#lon').val(d.longitud);
            $('#tit').val(d.titulo);
            $('#subt').val(d.subtitulo);
            $('#dire').val(d.direccion);
            $('#tel').val(d.numero);
            $('#corr').val(d.correo);
            $('#mensajecontacto2').val(d.mensaje);
            $('#googleMap2').locationpicker({
                radius: 0,
                location: {
                    latitude: $('#la').val(),
                    longitude: $('#lon').val()
                },
                inputBinding: {
                    latitudeInput: $('#la'),
                    longitudeInput: $('#lon'),
                    locationNameInput: $('#txtubi')

                },
                enableAutocomplete: true

            });




        }
    });


});

        //Editar informacion




        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }

        // Change style of navbar on scroll
        window.onscroll = function () { myFunction() };
        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-black";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-black", "");
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

    <!--
    To use this code on your website, get a free API key from Google.
    -->

</body>



