
@{
    ViewBag.Title = "ListaLugares";
    Layout = "~/Views/Shared/MasterAdmi.cshtml";
}

<head>
    <title>Lista de lugares</title>

</head>

<div id="iniciarlugares" class="container">
    <div id="contenedordelugares" class="row centered">
        
    </div>
</div>



