
@{
    ViewBag.Title = "UsersBlocked";
    Layout = "~/Views/Shared/MasterAdmin.cshtml";
}

<link href="~/Content/admin_bootstrap_dist_css_bootstrap.min.css" rel="stylesheet" />
<div class="w3-container" style="margin-top:10px" id="showcase">
    <h1 class="w3-justify"><b>Administración</b></h1>
</div>
<label class="w3-text-teal" id="message"> </label>
<button data-toggle="modal" data-target="#ModalRegistroUseradmi" class="w3-button w3-green w3-margin w3-right"><li class="fa fa-plus-circle "></li> Agregar Usuario</button>
<br>

<center><h2>Usuarios Activos</h2></center>
<div class="w3-container">
    <ul class="w3-ul w3-card-4" id="usersblocked"></ul>
</div><br /><br />









<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/Acciones.js"></script>


