
@{
    ViewBag.Title = "UsuariosComercio";
    Layout = "~/Views/Shared/MasterAdmi.cshtml";
}

<h2>Usuarios Comercio</h2>
<head>
    <title>
        Usuarios Comercio
    </title>
</head>



<form style="margin-left:60px; width:1080px">
    <label>Buscar Comercio</label>
    <button type="button" id="agregarusu" data-toggle="modal" data-target="#exampleModal" style="margin-left:945px; cursor:pointer" class="btn-sm btn btn-primary"><li class="fa fa-plus-circle"></li> Agregar Comercio</button>
    <br />
    <input id="buscaruse" class="form-control" type="text" placeholder="Ingrese su busqueda" onkeyup="doSearch()" />
    <br />
</form>
<div class="w3-centered" style="width:1080px; margin-left:60px; height:425px; overflow:auto;">
    <table id="datosUsuariosComercio" class="table table-striped table-bordered">
        <thead>
        <td>ID</td>
        <td>Foto</td>
        <td>Nombre</td>
        <td>RFC</td>
        <td>Usuario</td>
        <td>Email</td>
        <td>Fecha de registro</td>
        </thead>
        <tbody id="ContenerUsuarioComercio"></tbody>
    </table>
</div>






&nbsp;
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Agregar comercio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="cursor:pointer"><span aria-hidden="true">x</span></button>
            </div>
            <div id="content" class="modal-body">
                <form id="frmaddcomer" ondragstart="return false;" enctype="multipart/form-data" style="position: relative;">
                    <label><b>Nombre</b></label>
                    <input placeholder="Ingrese el nombre del comercio" id="nombrecomercio" name="nombrecomercio" class="form-control" type="text" />
                    <label><b>Registro Federal de Contribuyentes (RFC)</b></label>
                    <input placeholder="Ingrese el rfc del comercio" id="rfccomercio" name="rfccomercio" class="form-control" type="text" maxlength="13"/>
                    <label><b>Nombre de usuario</b></label>
                    <input placeholder="Ingrese el nombre de usuario del comercio" id="usercomercio" name="usercomercio" class="form-control" type="text" />
                    <label><b>E-mail</b></label>
                    <input placeholder="Ingrese el correo electrónico del comercio" id="emailcomercio" name="emailcomercio" class="form-control" type="text" />
                    <label><b>Contraseña</b></label>
                    <input placeholder="Ingrese la contraseña del comercio" id="passcomercio" name="passcomercio" class="form-control" type="password" />
                    <label><b>Confirmar contraseña</b></label>
                    <input placeholder="Confirme la contraseña del comercio" id="passcomerciocon" name="passcomerciocon" class="form-control" type="password" /><br />

                    <button type="submit" style="cursor:pointer" class="btn btn-success btn-sm" id="btnaddcomercio"><i class="fa fa-plus-circle"></i> Registrar comercio</button>
                </form>
            </div>

        </div>
    </div>
</div>



<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script>





    $(document).ready(function () {
        $.ajax({
            url: "/Ajax/Ajax?data=ListaUsuarioComercio",
            type: "POST",
            success: function (a) {

                $("#ContenerUsuarioComercio").html(a);

            }
        });
    });



    function doSearch() {
        var tableReg = document.getElementById('datosUsuariosComercio');
        var searchText = document.getElementById('buscaruse').value.toLowerCase();
        var cellsOfRow = "";
        var found = false;
        var compareWith = "";
        // Recorremos todas las filas con contenido de la tabla
        for (var i = 1; i < tableReg.rows.length; i++) {
            cellsOfRow = tableReg.rows[i].getElementsByTagName('td');
            found = false;
            // Recorremos todas las celdas
            for (var j = 0; j < cellsOfRow.length && !found; j++) {
                compareWith = cellsOfRow[j].innerHTML.toLowerCase();
                // Buscamos el texto en el contenido de la celda
                if (searchText.length == 0 || (compareWith.indexOf(searchText) > -1)) {
                    found = true;
                }
            }
            if (found) {
                tableReg.rows[i].style.display = '';
            } else {
                // si no ha encontrado ninguna coincidencia, esconde la
                // fila de la tabla
                tableReg.rows[i].style.display = 'none';
            }
        }
    };

</script>

