
@{
    ViewBag.Title = "LugaresVisitados";
    Layout = "~/Views/Shared/MasterPerfil.cshtml";
}

<head>
    <title>Inicio</title>
</head>

<h2 style="margin-left:20px">Lugares Visitados</h2>


<div class="w3-row-padding" id="cargarlugares">
  


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
    $(document).ready(function () {

       $.ajax({
            url: "/Ajax/Ajax?data=loadlugaresvisitados",
            type: "GET",
            success: function (a) {

                $("#cargarlugares").html(a);

            }
        });
    });


    function Cargar(a) {

      

    }




    var interval;

    function verinfolugar(e) {
        clearInterval(interval);
        $.ajax({
            url: '/Ajax/Ajax?data=verinfolugar&idlugar=' + e,
            type: "post",

            success: function (a) {
                if (a == 1) {
                    window.location = '/Perfil/LugarVisitado?idlugar=' + e;
                }

            }
        });
    };


</script>