
@{
    ViewBag.Title = "LugarVisitado";
    Layout = "~/Views/Shared/MasterPerfil.cshtml";
}
<head>
    <title>Información del lugar visitado</title>
</head>

<h2>Información del lugar visitado</h2>

<div style="width:1050px" class="w3-container w3-card w3-round w3-white ">

    <div class="w3-row w3-padding-64" id="about">
        <div class="w3-col m6 w3-padding-large w3-hide-small">
            <img id="imagenlugar" class="w3-round w3-image w3-opacity-min" alt="Table Setting" style="width:100%; height:320px">
            <br /><br />
            <div id="googleMap" class="w3-round-large " style="width:100%;height:250px;"></div>
        </div>

        <div class="w3-col m6 w3-padding-large">
            <h1 id="namelugar" class="w3-center">About Catering</h1><br>
            <h6 id="fechavisita" class="w3-center">Tradition since 1889</h6>
            <h6 id="infoweb" class="w3-small"></h6>
            <center>
                <a class="w3-button w3-amber w3-hover-yellow" href="~/Perfil/Galeria">Ver fotos</a>
            </center>
        </div>
        <input id="latitud" type="hidden" />
        <input id="longitud" type="hidden" />
    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>

    $(document).ready(function () {

        Cargarinfolugar();

    });




    function Cargarinfolugar() {
        $.ajax({
            url: "/Ajax/Ajax?data=cargarinfolugar",
            type: "POST",
            success: function (a) {

                var datos = JSON.parse(a);


                $("#imagenlugar").prop("src", datos.imagenportada);
                $('#namelugar').html(datos.nombre);
                $('#infoweb').html(datos.informacionweb);
                $('#fechavisita').html(datos.fechafundacion);
                $('#longitud').val(datos.longitud);
                $('#latitud').val(datos.latitud);

                $('#googleMap').locationpicker({
                    radius: 0,
                    location: {
                        latitude: $('#latitud').val(),
                        longitude: $('#longitud').val()
                    },
                    inputBinding: {
                        latitudeInput: $('#latitud'),
                        longitudeInput: $('#longitud'),

                    },

                })

            }

        });
    }

</script>