
@{
    ViewBag.Title = "MiPerfil";
    Layout = "~/Views/Shared/MasterPerfil.cshtml";
}

<head>
    <title>Mi perfil</title>
</head>

<div class="w3-row w3-card w3-white w3-round  w3-margin-bottom w3-animate-top">
    <div class="w3-col m6  ">
        <div class="w3-margin">
            <button class="w3-button w3-small w3-right w3-blue w3-round-large w3-ripple w3-hover-blue" id="btneditfoto" type="button"> Editar</button>
            <h4>Foto de perfil</h4>
            <form id="frmfotousuario" enctype="multipart/form-data">
                <center>
                    <img class="w3-center w3-circle w3-margin" id="imgedit" style="width:300px; height:300px;" /><br />
                    <label class="w3-hover-gray w3-round" id="uploadimg" style="cursor:pointer;">
                        Seleccionar imagen
                        <input name="file" type="file" accept="image/*" style="display:none" onchange="cargarimageneditar(event)" />
                    </label>
                </center>
                <br />
                <input id="btnupdatefoto" class="w3-button w3-green  w3-ripple  w3-hover-white w3-border w3-hover-border-green w3-round-large" type="submit" value="Actualizar" />
                <button class="w3-button w3-red w3-right w3-round w3-hover-red w3-ripple" id="btncancelarfoto" type="button">Cancelar</button>
                <br />
                <br />
            </form>
        </div>
    </div>

    <div class="w3-col m6 ">
        <div class="w3-margin">
            <button class="w3-button w3-right w3-ripple w3-small w3-blue w3-round-large w3-hover-blue" id="btnhabilitar" type="button"> Editar</button>
            <h4>Mis datos</h4>
            <div>
                <form id="frmusuarioeditar" style="margin-top:50px" class="w3-container">
                    <div class="w3-row">
                        <div class="w3-col m6">
                            <label>Nombre</label><br />
                            <input class="w3-input w3-transparent w3-round" id="nombreusuarios" name="nameadmi" placeholder="Nombre" type="text" style="max-width:150px">
                        </div>
                        <div class="w3-col m6">
                            <label>Usuario</label><br />
                            <input class="w3-input w3-transparent w3-round" id="userprofile" name="useradmi" placeholder="Usuario" r type="text" style="max-width:150px">
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m6">
                            <label>Apellido Paterno</label><br />
                            <input class="w3-input w3-transparent w3-round" id="apellidouserpate" name="apepa" placeholder="Apellido Paterno" type="text" style="max-width:150px">
                        </div>
                        <div class="w3-col m6 ">
                            <label>Apellido Materno</label><br />
                            <input class="w3-input w3-transparent w3-round" id="apellidousermate" name="apemat" placeholder="Apellido Materno" type="text" style="max-width:150px">
                        </div>
                    </div>
                    <div class="w3-row">
                        <div class="w3-col m12">
                            <label>Correo electronico</label><br />
                            <input class="w3-input w3-transparent w3-round" name="emailadmi" id="emailadmi" placeholder="Correo electronico" type="email" style="max-width:100%">
                        </div>
                    </div>
                    <br />
                    <button id="btnupdate" class="w3-button w3-green  w3-ripple  w3-hover-white w3-border w3-hover-border-green w3-round-large" type="submit"><li class="fa fa-save"></li>Actualizar mis datos</button>
                    <button class="w3-button w3-red w3-hover-red w3-right w3-round w3-ripple" id="btncancelar" type="button"> Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="w3-row w3-card w3-white w3-round w3-animate-bottom">
    <div class="w3-col m12">
        <div class="w3-margin">
            <button class="w3-button w3-right w3-blue w3-hover-blue w3-small w3-round-large w3-ripple" id="btneditcontra" type="button"> Editar</button>
            <h4>Mi contraseña</h4>
            <form id="frmvalidarcontra">
                <div class="w3-row w3-margin-bottom">
                    <label>Contraseña actual</label><br />
                    <input class="w3-input" id="contrac" name="contraac" placeholder="Contraseña actual" type="password">
                </div>
                <div class="w3-row w3-margin-bottom">
                    <label>Contraseña nueva</label><br />
                    <input class="w3-input" id="contranue" name="contranue" placeholder="Contraseña nueva" type="password">
                </div>
                <div class="w3-row w3-margin-bottom">
                    <label>Confirmar contraseña</label><br />
                    <input class="w3-input" id="contraconfi" name="contraconfi" placeholder="Confirmar contraseña" type="password">
                </div>
                <button class="w3-button w3-green  w3-ripple  w3-hover-white w3-border w3-hover-border-green w3-round-large" id="btnvalidar" type="submit"> Actualizar contraseña</button>
                <button class="w3-button w3-red w3-right w3-round w3-hover-red" id="btncancelarcontra" type="button"> Cancelar</button>
                <br />
                <br>
            </form>

        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="~/Scripts/admin_jquery_dist_jquery.min.js"></script>
<script>

    $(document).ready(function () {
        $("#frmusuarioeditar").submit(function (e) {
            e.preventDefault();
            if ($("#nombreusuarios").val() != "" && $("#userprofile").val() != "" && $("#apellidouserpate").val() != "" && $("#apellidousermate").val() != "" && $("#emailuser").val() != "") {
                $.ajax({
                    url: "/Ajax/Ajax?data=updateinfo",
                    type: "POST",
                    data: $("#frmusuarioeditar").serialize(),
                    beforeSend: function () {
                        $("#btnupdate").html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Actualizando');
                    },
                    success: function (a) {
                        if (a == 1) {

                            swal({
                                title: "Exito",
                                text: 'Se actualizaron sus datos correctamente',
                                type: "success",
                                confirmButtonText: "Aceptar",
                                closeOnCancel: true,
                                closeOnConfirm: true,
                                showLoaderOnConfirm: true

                            });
                            $("#btnupdate").html('<i class="fa fa-save" aria-hidden="true"></i> Actualizar mis datos');
                            myinfo();
                            Deshabilitar();
                        }
                        else if (a == 0) {
                            swal({
                                text: 'Contraseña incorrecta, intentalo de nuevo!',
                                type: "error",
                                confirmButtonText: "Aceptar",
                                confirmButtonColor: "#4CAF50",
                                closeOnCancel: true,
                                closeOnConfirm: true,
                                showLoaderOnConfirm: true
                            })

                            $("#btnupdate").html('<i class="fa fa-save" aria-hidden="true"></i> Actualizar mis datos');
                            $("#passprofilevalidar").val('');


                        }
                        else {

                        }
                    }
                });
            }
            else {

                swal({
                    text: 'No puedes dejar campos vacios, valida los campos porfavor!',
                    type: "question",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#3F51B5",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                });

            }
        });
    });

    $(document).ready(function () {
        $("#frmfotousuario").submit(function (e) {
            e.preventDefault();
            var form = $('#frmfotousuario')[0];
            var dataString = new FormData(form);
            $.ajax({
                url: '/Ajax/Ajax?data=guardarfotos',  //Server script to process data
                type: 'POST',
                data: dataString,
                //Options to tell jQuery not to process data or worry about content-type.
                cache: false,
                contentType: false,
                processData: false,

                beforeSend: function () {

                    $("#btnupdatefoto").html('<li class="fa fa-spinner fa-spin"></li>Actualizando');


                },
                success: function (a) {
                    if (a == 1) {
                        swal({
                            text: 'Se ha actualizado tu foto de perfil!',
                            type: "success",
                            confirmButtonText: "Aceptar",
                            confirmButtonColor: "#7986CB",
                            closeOnCancel: true,
                            closeOnConfirm: true,
                            showLoaderOnConfirm: true
                        })
                        myinfo();
                        $("#btnupdatefoto").html('Actualizar');
                        $("#btnupdatefoto").hide();
                        $("#btncancelarfoto").hide();
                        $("#uploadimg").hide();


                    }

                }
            });
        });
    });


    $(document).ready(function () {
        $("#frmvalidarcontra").submit(function (e) {
            e.preventDefault();
            if ($("#contranue").val() != "" && $("#contraconfi").val() != "" && $("#contrac").val() != "") {
                if ($("#contranue").val() == $("#contraconfi").val()) {

                    $.ajax({
                        url: "/Ajax/Ajax?data=checkpass",
                        type: "POST",
                        data: $("#frmvalidarcontra").serialize(),
                        beforeSend: function () {
                            $("#btnvalidar").html('<i class="fa fa-spinner fa-pulse fa-fw"></i> Actualizando');
                        },
                        success: function (a) {
                            if (a == 1) {
                                swal({
                                    text: 'Se actualizo tu contraseña!',
                                    type: "success",
                                    confirmButtonText: "Aceptar",
                                    confirmButtonColor: "#4CAF50",
                                    closeOnCancel: true,
                                    closeOnConfirm: true,
                                    showLoaderOnConfirm: true
                                })
                                $("#btnvalidar").html('<i class="fa fa-sign-in" aria-hidden="true"></i> Actualizar contraseña');
                                $("#contranue").val('');
                                $("#contraconfi").val('');
                                $("#contrac").val('');
                                Deshabilitar();
                            }
                            else if (a == 0) {
                                swal({
                                    text: 'Contraseña actual incorrecta, intentalo de nuevo!',
                                    type: "error",
                                    confirmButtonText: "Aceptar",
                                    confirmButtonColor: "#4CAF50",
                                    closeOnCancel: true,
                                    closeOnConfirm: true,
                                    showLoaderOnConfirm: true
                                })

                                $("#btnvalidar").html('<i class="fa fa-sign-in" aria-hidden="true"></i> Validar contraseña');
                                $("#passprofilevalidar").val('');


                            }
                            else {

                            }
                        }
                    });
                }
                else {

                    swal({
                        text: 'las contraseñas no coinciden, confirmalas!',
                        type: "question",
                        confirmButtonText: "Aceptar",
                        confirmButtonColor: "#3F51B5",
                        closeOnCancel: true,
                        closeOnConfirm: true,
                        showLoaderOnConfirm: true
                    })

                }
            }
            else {

                swal({
                    title: 'No haz llenado los campos',
                    text: 'No puedes dejar campos vacíos!',
                    type: "question",
                    confirmButtonText: "Aceptar",
                    confirmButtonColor: "#3F51B5",
                    closeOnCancel: true,
                    closeOnConfirm: true,
                    showLoaderOnConfirm: true
                })
            }
        });

    });


















</script>